* {
  text-rendering: geometricPrecision !important;
  -webkit-font-smoothing: antialiased !important;
}

header.custom-header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  /*background-color: #2b3389;*/
  /*background-color: #181E65;*/
  background-color: #3d57a5;
  height: 90px;
  z-index: 16;
}

header.custom-header>div.custom-header-content,
footer>div.container-fluid {
  padding: 0 15px;
  width: 100%;
  max-width: 1080px;
  margin: auto;
}

header.custom-header>div.custom-header-content>div.custom-header-brand {
  display: inline-block;
  position: relative;
  float: left;
}

header.custom-header>div.custom-header-content>div.custom-header-brand>a>img {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 90px;
  vertical-align: top;
}

header.custom-header>div.custom-header-content>div.custom-header-brand>a>div {
  display: inline-block;
  position: relative;
  top: 28px;
}

header.custom-header>div.custom-header-content>div.custom-header-brand>a>div>h1,
header.custom-header>div.custom-header-content>div.custom-header-brand>a:link>div>h1 {
  display: block;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: Copperplate;
  margin: 0;
  font-size: 1.4em;
  color: white;
  font-weight: 300;
  line-height: 1.4em;
  margin-top: 3px;
}

header.custom-header>div.custom-header-content>div.custom-header-brand>a>div>h1.visible-xs {
  position: relative;
  top: 7px;
}

header.custom-header>div.custom-header-content>div.custom-header-brand>a>div>h3,
header.custom-header>div.custom-header-content>div.custom-header-brand>a:link>div>h3 {
  display: block;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: Copperplate;
  margin: 0;
  font-size: 1.2em;
  color: white;
  font-weight: 300;
}

header.custom-header>div.custom-header-content>div.custom-header-toggle {

}

header.custom-header>div.custom-header-content>div.custom-header-toggle>a>div:first-of-type {

}

header.custom-header>div.custom-header-content>div.custom-header-toggle>a>div:nth-of-type(2) {

}

header.custom-header>div.custom-header-content>div.custom-header-toggle>a>div:last-of-type {

}

header.custom-header>div.custom-header-content>div.custom-header-items {
  display: inline-block;
  position: relative;
  float: right;
  text-align: right;
}

header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill {

}

header.custom-header>div.custom-header-content>div.custom-header-items>ul {
  display: block;
  position: relative;
  top: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul {
  /*top: 8px;*/
  top: 10px;
}

header.custom-header>div.custom-header-content>div.custom-header-items>ul>li {
  display: inline-block;
  position: relative;

}

header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a {
  display: block;
  position: relative;
  padding: 10px;
  font-family: Copperplate;
  font-weight: 100;
  font-size: 1.25em;
}

header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a:link {
  text-decoration: none;
  color: white;
}

/* REDO THIS */

header.custom-header>div.custom-header-content>div.custom-header-items>ul>li.dropdown:hover>a,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li.dropdown:hover>a:link,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li.dropdown:hover>a.dropdown-active,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li.dropdown:hover>a.dropdown-active:link,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown:hover>a.dropdown-active,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown:hover>a.dropdown-active:link,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown:hover>a,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown:hover>a:link,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown:hover>a.dropdown-active,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown:hover>a.dropdown-active:link,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown:hover>a.dropdown-active,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown:hover>a.dropdown-active:link,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown:hover>a:not(.dropdown-active),
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown:hover>a:link:not(.dropdown-active),
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown:hover>a:not(.dropdown-active),
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown:hover>a:link:not(.dropdown-active),
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li.dropdown:hover>a>span,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li.dropdown:hover>a:link>span,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li.dropdown:hover>a.dropdown-active>span,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li.dropdown:hover>a.dropdown-active:link>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown:hover>a.dropdown-active>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown:hover>a.dropdown-active:link>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown:hover>a>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown:hover>a:link>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown:hover>a.dropdown-active>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown:hover>a.dropdown-active:link>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown:hover>a.dropdown-active>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown:hover>a.dropdown-active:link>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown:hover>a:not(.dropdown-active)>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown:hover>a:link:not(.dropdown-active)>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown:hover>a:not(.dropdown-active)>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown:hover>a:link:not(.dropdown-active)>span
 {
  /*color: #464646;
  background-color: white;*/
  /*color: #FFFFFF;
    background-color: #F5C56B;*/
    color: #333;
    background-color: #e8e8e8;
}

header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a:active,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a:hover,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a:focus,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a:active,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a:hover,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a:focus,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a.dropdown-active:active,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a.dropdown-active:hover,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a.dropdown-active:focus,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li.dropdown>a:active,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li.dropdown>a:hover,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li.dropdown>a:focus,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown>a:active,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown>a:hover,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown>a:focus,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown>a.dropdown-active:active,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown>a.dropdown-active:hover,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown>a.dropdown-active:focus,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li>a:active,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li>a:hover,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li>a:focus,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li>a:active,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li>a:hover,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li>a:focus,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li>a.dropdown-active:active,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li>a.dropdown-active:hover,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li>a.dropdown-active:focus,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown>a:active,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown>a:hover,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown>a:focus,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown>a:active,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown>a:hover,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown>a:focus,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown>a.dropdown-active:active,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown>a.dropdown-active:hover,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown>a.dropdown-active:focus,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a:active>span,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a:hover>span,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a:focus>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a:active>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a:hover>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a:focus>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a.dropdown-active:active>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a.dropdown-active:hover>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a.dropdown-active:focus>span,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li.dropdown>a:active>span,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li.dropdown>a:hover>span,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li.dropdown>a:focus>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown>a:active>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown>a:hover>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown>a:focus>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown>a.dropdown-active:active>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown>a.dropdown-active:hover>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li.dropdown>a.dropdown-active:focus>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li>a:active>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li>a:hover>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li>a:focus>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li>a:active>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li>a:hover>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li>a:focus>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li>a.dropdown-active:active>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li>a.dropdown-active:hover>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li>a.dropdown-active:focus>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown>a:active>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown>a:hover>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li.dropdown>a:focus>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown>a:active>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown>a:hover>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown>a:focus>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown>a.dropdown-active:active>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown>a.dropdown-active:hover>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li.dropdown>a.dropdown-active:focus>span {
  color: #333 !important;
  background-color: #e8e8e8 !important;
}

header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a>span {
  font-family: FontAwesome;
  font-size: 0.75em;
  color: white;
}

header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a {
  font-size: 1em;
  padding: 4px 6px;
  margin: 7px 0 0;
  /*padding-bottom: 10px;*/
  z-index: 1;
  /*color: #bdbdbd;*/
}

header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li>a:not(.dropdown-active),
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li>a:not(.dropdown-active),
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill.custom-header-items-focus>ul>li>a:not(.dropdown-active)>span,
header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-focus>ul>li>a:not(.dropdown-active)>span {
  color: #bdbdbd;
}

header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a.dropdown-active {
  color: white;
}

@media (max-width: 920px) {
  header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a.dropdown-active {
    color: #333;
  }
}

header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a>span {
  font-size: 0.75em;
}

header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>ul {
  position: absolute;
  display: block;
  right: 0;
  /*top: calc(100% - 4px);*/
  padding: 0;
  margin: 0;
  list-style: none;
  width: 200px;
  max-height: 0;
  overflow-y: hidden;
  /*transition: 0.5s ease-in-out;*/
  z-index: 1;
  /*transition: max-height 0.5s;*/
}

@media (min-width: 920px) {
  header.custom-header>div.custom-header-content>div.custom-header-items>ul>li:hover>a~ul {
    max-height: initial;
    /*transition: 0.5s ease-in-out;*/
    /*border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #c2c2c2;*/
  }
}

header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>ul>li {
  display: block;

}

header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>ul>li>a,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>ul>li>a:link {
  display: block;
  text-decoration: none;
  /*
  background-color: white;
  color: #2b3389;
  */
  background-color: white;
  color: #333;
  padding: 16px 16px;
  border-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
  /*border-bottom-width: 0;*/
  border-bottom-width: 1px;
  border-top-width: 0;
  border-color: #e8e8e8;
  font-size: 14px;
  font-weight: 500;
}

header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>ul>li:last-of-type>a,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>ul>li:last-of-type>a:link {
  border-bottom-width: 1px;
}

header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>ul>li>a:active,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>ul>li>a:hover,
header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>ul>li>a:focus {
  /*
  color: white;
  background-color: #232A73;
  border-color: #2b3389;
  */
  color: #333;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}

header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill {
  display: block;
  position: relative;
  float: right;
  /*max-width: 485px;*/
  margin-top: 8px;
  /*margin-top: -7px;*/
  text-align: right;
}

header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill>ul>li {
  display: inline-block;
  vertical-align: middle;
  /*height: 38px;*/
}
header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill>ul>li>a,
header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill>ul>li>a:link {
  display: block;
  position: relative;
  padding: 0 4px 0 10px;
  font-family: Voldemooort;
  font-weight: 100;
  /*font-size: 1.25em;*/
  font-size: 1.2em;
  line-height: 1.1em;
  text-decoration: none;
  color: #BDBDBD;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}
header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill>ul>li.lined-left,
header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill>ul>li.lined-left {
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: rgba(255,255,255,0.1);
}

header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill>ul>li.subheader-active>a,
header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill>ul>li.subheader-active>a:link,
header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill>ul>li>a:active,
header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill>ul>li>a:hover,
header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill>ul>li>a:focus {
  color: white;

}

header.custom-header>div.custom-header-content>div.custom-header-brand>a>div>h1 {
  display: none !important;
}

header.custom-header>div.custom-header-content>div.custom-header-brand>a>div>h3 {
  display: block !important;
}

@media (max-width: 1070px) {
  header.custom-header>div.custom-header-content>div.custom-header-brand>a>div>h1 {
    display: block !important;
  }

  header.custom-header>div.custom-header-content>div.custom-header-brand>a>div>h3 {
    display: none !important;
  }
}

header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a:nth-of-type(2) {
  display: none;
}

@media (max-width: 920px) {
  header.custom-header {

  }

  header.custom-header>div.custom-header-content {
    display: inline-block;
  }

  header.custom-header>div.custom-header-content>div.custom-header-brand {
    position: relative;
    display: inline-block;
  }

  header.custom-header>div.custom-header-content>div.custom-header-brand>a>img {

  }

  header.custom-header>div.custom-header-content>div.custom-header-brand>a>div {

  }

  header.custom-header>div.custom-header-content>div.custom-header-brand>a>div>h1 {

  }

  header.custom-header>div.custom-header-content>div.custom-header-brand>a>div>h1.visible-xs {

  }

  header.custom-header>div.custom-header-content>div.custom-header-brand>a>div>h3 {

  }

/*
  header.custom-header>div.custom-header-content>div.custom-header-toggle {
    width: 70px;
    height: 70px;
    display: block;
    float: right;
    border-radius: 100vh;
    border-style: solid;
    border-width: 2px;
    top: 10px;
    position: relative;
    border-color: white;
  }


  header.custom-header>div.custom-header-content>div.custom-header-toggle>button {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background: none;
    border-style: none;
  }
*/

  header.custom-header>div.custom-header-content>a.custom-header-toggle {
    display: block;
    width: 70px;
    height: 70px;
    float: right;
    border-radius: 100vh;
    position: relative;
    background: none;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    top: 10px;
  }

  header.custom-header>div.custom-header-content>a.custom-header-toggle>div {
    height: 2px;
    background-color: white;
    position: absolute;
    width: 40px;
    margin: 0 13px;
  }

  header.custom-header>div.custom-header-content>a.custom-header-toggle>div:first-of-type {
    top: calc(50% - 1px);
    -ms-transform: translate(0,-10px); /* IE 9 */
   	-webkit-transform: translate(0,-10px); /* Safari */
    transform: translate(0,-10px);
    transition: transform 0.5s;
  }

  header.custom-header>div.custom-header-content>a.custom-header-toggle>div:nth-of-type(2) {
    top: calc(50% - 1px);
    -ms-transform: scale(1,1); /* IE 9 */
   	-webkit-transform: scale(1,1); /* Safari */
    transform: scale(1,1);
    transition: transform 0.5s;
  }

  header.custom-header>div.custom-header-content>a.custom-header-toggle>div:last-of-type {
    top: calc(50% - 1px);
    -ms-transform: translate(0,10px); /* IE 9 */
   	-webkit-transform: translate(0,10px); /* Safari */
    transform: translate(0,10px);
    transition: transform 0.5s;
  }


  header.custom-header>div.custom-header-content>a.custom-header-toggle.focus>div:first-of-type {
    top: calc(50% - 1px);
    -ms-transform: translate(0,0) rotate(45deg); /* IE 9 */
   	-webkit-transform: translate(0,0) rotate(45deg); /* Safari */
    transform: translate(0,0) rotate(45deg);
    transition: transform 0.5s;
  }

  header.custom-header>div.custom-header-content>a.custom-header-toggle.focus>div:nth-of-type(2) {
    top: calc(50% - 1px);
    -ms-transform: scale(0,1); /* IE 9 */
   	-webkit-transform: scale(0,1); /* Safari */
    transform: scale(0,1);
    transition: transform 0.5s;
  }

  header.custom-header>div.custom-header-content>a.custom-header-toggle.focus>div:last-of-type {
    top: calc(50% - 1px);
    -ms-transform: translate(0,0) rotate(315deg); /* IE 9 */
   	-webkit-transform: translate(0,0) rotate(315deg); /* Safari */
    transform: translate(0,0) rotate(315deg);
    transition: transform 0.5s;
  }



  header.custom-header>div.custom-header-content>div.custom-header-items {
    display: block;

  }

  header.custom-header>div.custom-header-content>div.custom-header-items {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-height: 0px;
    overflow-y: hidden;
    transition: 0.5s ease-in-out;
  }

  header.custom-header>div.custom-header-content>a.custom-header-toggle.focus~div.custom-header-items {
    height: calc(100vh - 90px);
    max-height: 300px;
    overflow-y: auto;
  }

  header.custom-header>div.custom-header-content>div.custom-header-items.active {
    max-height: 200vh;
    transition: 0.5s ease-in-out;
  }

  header.custom-header>div.custom-header-content>div.custom-header-items>ul {
    top: 0;
  }

  header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul {
    top: 0;
  }

  header.custom-header>div.custom-header-content>div.custom-header-items>ul>li {
    display: block;
  }

  header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a:first-of-type {
    width: calc(100% - 45px);
    display: inline-block !important;
    background-color: #2b3389;

    float: left;
    text-align: left;
  }

  @media (max-width: 920px) {
    header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a:first-of-type {
      background-color: white;
    }
    header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a, header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a:link {
      color: #333;
    }
  }

  header.custom-header>div.custom-header-content>div.custom-header-items>ul>li#nav-news>a:first-of-type {
    display: block;
    width: 100%;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #E4E4E4;
  }

  header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a:nth-of-type(2) {
    width: 45px !important;
    display: inline-block !important;
    /*background-color: #2b3389;*/
    background-color: white;
    font-family: FontAwesome;
    padding: 11px 19px 9px 10px !important;
  }

  header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a>span {
    display: none;
  }

  header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a>span {

  }

  header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a {
    display: block;
    text-decoration: none;
    /*background-color: white;*/
    font-size: 1.20em;
    color: #2b3389;
    padding: 8px 12px;
    border-style: none;
    padding: 10px;
    font-size: 1.25em;

/*
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-top-width: 0;
    border-color: #c2c2c2;
    */
    margin: 0;
  }

  header.custom-header>div.custom-header-content>div.custom-header-items.custom-header-items-drill>ul>li>a>span {

  }

  header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>ul {
    max-height: 0;
    position: relative;
    width: initial;
    /*transition: max-height 0.5s;*/
  }

  header.custom-header>div.custom-header-content>div.custom-header-items>ul>li:hover>a~ul {

  }

  header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>ul>li {

  }

  header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>ul>li>a {
    /*border-style: none !important;*/
    text-align: left;
  }

  header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill {
    display: none;
  }

  header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill>ul {

  }

  header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill>ul>li {

  }
  header.custom-header>div.custom-header-content>div.custom-header-items>div.custom-header-drill>ul>li>a {

  }

}

ol.custom-breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol.custom-breadcrumbs.custom-breadcrumbs-inner {
  padding-bottom: 35px;
}

ol.custom-breadcrumbs>li {
  display: inline-block;
  color: #464646;
}

ol.custom-breadcrumbs>li>a {
  text-decoration: none;
}

ol.custom-breadcrumbs>li>span {
  font-family: FontAwesome;
  font-size: 1em;
  color: #bdbdbd;
}

div.custom-header-items>ul br.show-on-drill {
  display: none;
}

div.custom-header-items>div.custom-header-drill br.show-on-drill {
  display: initial;
}

footer br.show-on-drill {
  display: none;
}

/* JS LELS */
header.custom-header {
  top: 0px;
  -webkit-transition: top 0.25s; /* Safari */
  transition: top 0.25s;
}

header.custom-header.custom-header-hide {
  top: -90px;
  -webkit-transition: top 0.25s; /* Safari */
  transition: top 0.25s;
}

@media (max-width: 920px) {
  header.custom-header>div.custom-header-content>div.custom-header-items>ul>li>a:nth-of-type(2).focus~ul {
    max-height: 800%;
    /*transition: max-height 0.5s;*/
  }
}
