/* FONTS INITIALIZATION */
/*
@font-face {
	font-family: 'Copperplate';
		src:
		url('/fonts/Copperplate Gothic Bold Medium.ttf')
		format('truetype');
}
*/

/* CSS */

div.no-pad {
	padding: 0 !important;
}

.icon {
	font-family: FontAwesome;
}

header.navbar a.dropdown-toggle, header.navbar .navbar-nav>li>a,
h1, h2, h3, h4, h5, h6 {
	font-family: Copperplate;
}

header.navbar {
	background-color: #2b3389;
	border: 0;
}

header.navbar a.dropdown-toggle, header.navbar .navbar-nav>li>a {
	color: white !important;
	background-color: rgba(0,0,0,0) !important;
	padding-top: 26px;
  padding-bottom: 27px;
	font-size: 1.25em
}

header.navbar ul.dropdown-menu {
	margin: 0;
	border: 0;
	padding: 0;
	border-radius: 0;
	background-color: #232A73;
}

@media (min-width: 768px) {
	header.navbar ul.dropdown-menu {
		position: fixed;
		left: 0;
		top: 73px;
		text-align: right;
		padding-right: 15px;
    padding-left: 15px;
	}
	header.navbar ul.dropdown-menu>li {
		display: inline-block;
	}
	header.navbar ul.dropdown-menu>li>a {
		width: initial;
		display: inline-block;
		padding-bottom: 15px;
		padding-top: 15px;
	}
}

header.navbar ul.dropdown-menu li>a {
	color: white;
}

a.navbar-brand {
	height: initial;
}

a.navbar-brand>img {
	height: 73px;
	margin-top: -53px;
	margin-bottom: -27px;
	display: inline-block;
}

a.navbar-brand>div {
	display: inline-block;
}

a.navbar-brand>div>span {
	color: white;
}

a.navbar-brand>div>span:first-of-type {
	font-size: 1.25em;
}

a.navbar-brand>div>span:last-of-type {
	font-size: 0.75em;
}

section.page-content {
	padding-top: 72px;
}

div.carousel-caption {
	text-align: left;
	right: initial;
	left: initial;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	bottom: 20px;
}

ol.carousel-indicators {
	text-align: right;
	bottom: 0;
	width: 100%;
	margin: 0;
	left: 0;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 75px;
	/*background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);*/
}

section.bg-dg {
	background-color: #e4e4e4;
}

section.bg-lg {
	background-color: #f1f1f1;
}

section.bg-dg, section.bg-lg {
	/*padding-bottom: 20px;*/
	padding-top: 30px;
	/*padding-bottom: 10px;*/
}

section.bg-dg.section-text, section.bg-lg.section-text {
	padding-bottom: 30px;
}

.container-fluid.container-limit {
	max-width: 920px;
}

h3 {
	margin-top: 0;
	margin-bottom: 25px;
}

div.col-lg-1>h3:not(:first-child),
div.col-lg-2>h3:not(:first-child),
div.col-lg-3>h3:not(:first-child),
div.col-lg-4>h3:not(:first-child),
div.col-lg-5>h3:not(:first-child),
div.col-lg-6>h3:not(:first-child),
div.col-lg-7>h3:not(:first-child),
div.col-lg-8>h3:not(:first-child),
div.col-lg-9>h3:not(:first-child),
div.col-lg-10>h3:not(:first-child),
div.col-lg-11>h3:not(:first-child),
div.col-lg-12>h3:not(:first-child)
 {
	padding-top: 30px;
}

.container-fluid.container-news {
	margin-bottom: 20px;
}

*>.container-fluid.container-news:last-of-type {
	margin-bottom: 40px;
}

.container-fluid.container-news>div {
	display: inline-block;
}

.container-fluid.container-news>div.date {
	background-color: #2b3389;
	text-align: center;
	padding: 8px;
	padding-left: 14px;
	padding-right: 14px;
}

.container-fluid.container-news>div.date>span {
	color: white;
	font-family: Copperplate
}

.container-fluid.container-news>div.date>span:last-of-type {
	line-height: 1em;
	font-size: 1.25em;
}

.container-fluid.container-news>div.body {
	vertical-align: top;
	width: calc(100% - 80px);
  margin-left: 15px;
	/*margin-bottom: 20px;*/
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #c2c2c2;
	/*border-image: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%) 1 100%;*/
	padding-bottom: 20px;
}

.container-fluid.container-news:last-of-type>div.body {
	border-style: none;
	padding-bottom: 0;
}

.container-fluid.container-news>div.body>p {
	margin-bottom: 0;
}

/* Downloads */

.container-fluid.container-dl {

}

.container-fluid.container-dl>div {
	display: inline-block;
}

.container-fluid.container-dl>div.icon {
	text-align: center;
	padding: 8px;
	padding-left: 14px;
	padding-right: 14px;
	font-size: 2em;
}



.container-fluid.container-dl>div.body {
	vertical-align: top;
	width: calc(100% - 80px);
  margin-left: 15px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #c2c2c2;
	/*border-image: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%) 1 100%;*/
	padding-bottom: 20px;
}

.container-fluid.container-dl>div.body>h4,
.container-fluid.container-dl>div.body>h4>small {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid.container-dl:last-of-type>div.body {
	border-style: none;
	padding-bottom: 0;
}

.container-fluid.container-dl>div.body>p {
	margin-bottom: 0;
}

/* END Downloads */

.container-fluid.container-events, .container-fluid.container-ease, .btn-question {
	box-shadow: 0 5px 0px rgba(0,0,0,0), 0 1px 20px rgba(0,0,0,0.12);
}

.container-fluid.container-events, .container-fluid.container-ease {
	background: white;
	margin-bottom: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.container-fluid.container-events>.container-fluid.container-event {
	padding: 15px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #c2c2c2;
  margin-left: -15px;
  margin-right: -15px;
}

.container-fluid.container-events>.container-fluid.container-event:first-of-type {
	margin-top: -15px;
}

.container-fluid.container-events>.container-fluid.container-event:last-of-type {
	border-style: none;
	margin-bottom: -15px;
}

.container-fluid.container-events>.container-fluid.container-event>h5 {
	margin-top: 0;
}

.container-fluid.container-events>.container-fluid.container-event>p {
	margin-bottom: 0;
}

.container-fluid.container-ease a {
	display: block;
}

.container-fluid.container-ease a span.icon {
	padding-right: 10px;
}

.container-fluid.container-sectionbox {
	background: white;
	padding: 15px;
	box-shadow: 0 5px 0px rgba(0,0,0,0), 0 1px 20px rgba(0,0,0,0.12);
	margin-bottom: 30px;
}

.container-sectionbox>img.img-responsive {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -15px;
	margin-bottom: 15px;
	max-width: calc(100% + 30px);
}

.container-sectionbox>h4 {
	margin-bottom: 0;
}

section.section-fader {
	background-size: contain !important;
	background-position: right !important;
	padding-top: 80px;
	padding-bottom: 80px;
}

section.section-fader div.section-fader-text {
	border-style: solid;
  border-width: 0 1px 0 0;
  border-color: white;
	border-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%) 1 100%
}

section.section-fader.section-fader-white div.section-fader-text {
	border-image: linear-gradient(to bottom, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 25%,rgba(51,51,51,1) 75%,rgba(51,51,51,0) 100%) 1 100%
}


section.section-fader h1, section.section-fader p {
	text-align: right;
	color: white;
}

section.section-fader.section-fader-white h1, section.section-fader.section-fader-white p {
	text-align: right;
	color: #333;
}

section.section-masthead {
	height: 200px;
	background-size: cover;
}

section.section-masthead>div.container-fluid {
	position: relative;
	height: 100%;
}

section.section-masthead>div.container-fluid>div.row {
	position: absolute;
	bottom: 0;
}

section.section-masthead>div.container-fluid>div.row h1 {
	color: #e4e4e4;
	margin: 0;
	font-size: 3.5em;
	line-height: 0.5em;
}

@media (min-width: 768px) {
	img.float-right { width: 240px; height:auto; float: right; /*clear: left;*/ margin: 0 0 0 10px;}
	img.float-left { width: 240px; height:auto; float: left; /*clear: right;*/ margin: 0 10px 0 0;}
}

button.btn-default.btn-block.btn-question {
	background-color: #0abab5;
	color: white;
	border-style: none;
	border-radius: 0;
	margin-bottom: 30px;
}

@media (min-width: 768px) {
	button.btn-default.btn-block.btn-question {
	max-width: 20em;
    margin-left: auto;
    margin-right: auto;
}
}

form.form-inline-search {
	margin-bottom: 30px;
}

form.form-inline-search h3 {
	margin-bottom: 0;
}

form.form-inline-search input {
	border-radius: 0;
	border-style: none;
}

form.form-inline-search div.input-group-addon {
	border-style: none;
	padding: 0;
	margin: 0;
}

form.form-inline-search div.input-group-addon .btn {
	border-style: none;
	border-radius: 0;
	font-family: FontAwesome;
}

footer {
	background-color: #2b3389;
}

footer h3 {
	padding-top: 30px;
	color: white;
}

footer ul {
	margin-bottom: 0;
  margin-bottom:20px;
  overflow:hidden;
	padding: 0;
}

/*
footer ul>li{
  float:left;
  display:inline;
	width:100%;
}
*/

@media (min-width: 768px) {
	footer ul {
	  max-width: 42em;
		list-style: none;
	}
	/*
	footer ul>li{
		width:33.333%;
	}
	*/
	ul.list-col-2 {
		column-count: 2;
		-webkit-column-count: 2;
	}
	ul.list-col-3 {
		column-count: 3;
		-webkit-column-count: 3;
	}
	ul.list-col-2, ul.list-col-3 {
		-webkit-column-gap:30px;
		column-gap:30px;
	}
	ul.list-col-2>li, ul.list-col-3>li{
		margin: 0;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid-column;
		/*display:table;*/
	}
}

footer ul>li>a{
	color: white;
	text-decoration: none;
	font-family: Copperplate;
}
