/* FONTS INITIALIZATION */
/*
@font-face {
	font-family: 'Copperplate';
		src:
		url('/fonts/Copperplate Gothic Bold Medium.ttf')
		format('truetype');
}
*/

/* CSS */

div.no-pad {
	padding: 0 !important;
}

.icon {
	font-family: FontAwesome;
}

header.navbar a.dropdown-toggle, header.navbar .navbar-nav>li>a,
h1, h2, h3, h4, h5, h6 {
	font-family: Copperplate;
}

header.navbar a.dropdown-toggle, header.navbar .navbar-nav>li>a {
	font-family: Copperplate;
	font-weight: 100;
}

header.navbar {
	background-color: #2b3389;
	border: 0;
}

header.navbar a.dropdown-toggle, header.navbar .navbar-nav>li>a {
	color: white !important;
	/*background-color: rgba(0,0,0,0) !important;*/
	padding-top: 26px;
	padding-bottom: 0;
  min-height: 73px;
	font-size: 1.25em
}

header.navbar a.dropdown-toggle.dropdown-active,
header.navbar a.dropdown-active {
	background-color: #232A73;
}

header.navbar a.dropdown-toggle:hover,
header.navbar a.dropdown-toggle:focus,
header.navbar a:hover,
header.navbar a:focus {
	background: linear-gradient(to bottom, rgba(43,51,137,1) 0%, rgba(35,42,115,1) 100%);
	-webkit-transition: 0.5s ease-in-out; /* Safari */
  transition: max-width 0.5s ease-in-out, padding-left 0.5s ease-in-out, padding-right 0.5s ease-in-out;
}

header.navbar a.dropdown-toggle.dropdown-active:hover,
header.navbar a.dropdown-toggle.dropdown-active:focus,
header.navbar a.dropdown-active:hover,
header.navbar a.dropdown-active:focus {
	background: linear-gradient(to bottom, rgba(43,51,137,1) 0%, rgba(35,42,115,1) 100%);
}

header.navbar ul.dropdown-menu {
	margin: 0;
	border: 0;
	padding: 0;
	border-radius: 0;
	background-color: #232A73;
}

.dropdown-menu {
	top: calc(100% - 15px);
}

@media (min-width: 768px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

@media (max-width: 768px) {
  ul.nav li.dropdown > ul.dropdown-menu {
		display: block;
		position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/*
@media (min-width: 768px) {
	header.navbar ul.dropdown-menu {
		position: fixed;
		left: 0;
		top: 73px;
		text-align: right;
		padding-right: 15px;
    padding-left: 15px;
	}
	header.navbar ul.dropdown-menu>li {
		display: inline-block;
	}
	header.navbar ul.dropdown-menu>li>a {
		width: initial;
		display: inline-block;
		padding-bottom: 15px;
		padding-top: 15px;
	}
}
*/

header.navbar ul.dropdown-menu li>a {
	color: white;
}

a.navbar-brand {
	height: initial;
	padding-top: 25px;
	padding-bottom: 25px;
}

a.navbar-brand>img {
	height: 73px;
	margin-top: -53px;
	margin-bottom: -27px;
	display: inline-block;
}

a.navbar-brand>div {
	display: inline-block;
}

a.navbar-brand>div>span {
	color: white;
}

a.navbar-brand>div>span:first-of-type {
	font-size: 1.25em;
}

a.navbar-brand>div>span:last-of-type {
	font-size: 0.75em;
}

header.navbar.navbar-drill {
	top: 73px;
	min-height: initial;
	max-height: initial;
	background-color: #232A73;
	text-align: right;
	margin-bottom: 0;
}

header.navbar.navbar-drill ul {
	list-style: none;
	margin-bottom: 0;
}

header.navbar.navbar-drill ul li {
	display: inline-block;
	color: white;
	font-family: Copperplate;
	font-weight: 100;
	font-size: 1.2em;
}

header.navbar.navbar-drill ul li a {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 10px 10px 0 10px;
  min-height: 44px;
	font-size: 0.9em;
}

header.navbar.navbar-drill ul li.subheader-active a {
	border-width: 0 0 2px 0;
  border-style: solid;
}

section.page-content {
	padding-top: 90px;
	min-height: calc((100vh - 206px) - 39px);
	background-color: #e4e4e4;
}

div.carousel-inner>.item>a>img, div.carousel-inner>.item>img {
	margin: 0;
	width: 100%;
}

div.carousel-caption {
	text-align: left;
	right: initial;
	left: initial;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	bottom: 0px;
	font-family: Copperplate;
	font-size: 2.5em;
	width: calc(100% - 50px);
	max-width: 920px;
	font-weight: 100;
	line-height: 0.7em;
}

ol.carousel-indicators {
	text-align: right;
	bottom: 0;
	width: 100%;
	margin: 0;
	left: 0;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 75px;
	/*background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);*/
}

.carousel-fade .carousel-control {
	background: none !important;
}

section.bg-dg {
	background-color: #e4e4e4;
}

section.bg-lg {
	background-color: #f1f1f1;
}

section.bg-wh {
	background-color: #fff;
}

section.bg-dg, section.bg-lg, section.bg-wh {
	/*padding-bottom: 20px;*/
	/*padding-top: 30px;*/
	padding-top: 35px;
	/*padding-bottom: 10px;*/
}

section.bg-dg.section-text,
section.bg-lg.section-text,
section.bg-wh.section-text {
	padding-bottom: 30px;
}

section.bg-dg.topgray,
section.bg-lg.topgray,
section.bg-wh.topgray {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #D2D2D2;
}

section.bg-dg.section-padding-reset,
section.bg-lg.section-padding-reset,
section.bg-wh.section-padding-reset,
section.bg-dg.section-text.section-padding-reset,
section.bg-lg.section-text.section-padding-reset,
section.bg-wh.section-text.section-padding-reset {
	padding-top: 30px;
	padding-bottom: 5px;
}

.container-fluid.container-limit {
	max-width: 920px;
}

.container-limit {
	max-width: 920px;
}

h1 {
	margin-top: 0;
	margin-bottom: 25px;
	line-height: 0.65em;
}

h3 {
	margin-top: 0;
	margin-bottom: 25px;
}

div.col-lg-1>h3:not(:first-child),
div.col-lg-2>h3:not(:first-child),
div.col-lg-3>h3:not(:first-child),
div.col-lg-4>h3:not(:first-child),
div.col-lg-5>h3:not(:first-child),
div.col-lg-6>h3:not(:first-child),
div.col-lg-7>h3:not(:first-child),
div.col-lg-8>h3:not(:first-child),
div.col-lg-9>h3:not(:first-child),
div.col-lg-10>h3:not(:first-child),
div.col-lg-11>h3:not(:first-child),
div.col-lg-12>h3:not(:first-child)
 {
	padding-top: 30px;
}

.container-fluid.container-news {
	margin-bottom: 20px;
}

*>.container-fluid.container-news:first-of-type {
	padding-top: 20px;
}

*>.container-fluid.container-news:last-of-type {
	margin-bottom: 40px;
}

*.container-news-sidebar>.container-fluid.container-news:last-of-type {
	margin-bottom: 0;
}

.container-fluid.container-news>div {
	display: inline-block;
}

.container-fluid.container-news>div.date {
	background-color: #2b3389;
	text-align: center;
	padding: 8px;
	padding-left: 14px;
	padding-right: 14px;
}

.container-fluid.container-news>div.date>span {
	color: white;
	font-family: Copperplate;
	font-weight: 100;
}

.container-fluid.container-news>div.date>span:last-of-type {
	line-height: 1em;
	font-size: 1.25em;
}

.container-fluid.container-news>div.body {
	vertical-align: top;
	width: calc(100% - 80px);
  margin-left: 15px;
	/*margin-bottom: 20px;*/
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #c2c2c2;
	/*border-image: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%) 1 100%;*/
	padding-bottom: 20px;
}

.container-fluid.container-news:last-of-type>div.body {
	border-style: none;
	padding-bottom: 0;
}

.container-fluid.container-news>div.body>p {
	margin-bottom: 15px;
}

.container-fluid.container-news>div.body>p:last-of-type {
	margin-bottom: 0;
}

/* Downloads */

.container-fluid.container-dl, .container-fluid.container-core {

}

.container-fluid.container-dl:last-of-type {
	margin-bottom: 30px;
}

.container-fluid.container-dl>div, .container-fluid.container-core>div {
	display: inline-block;
}

.container-fluid.container-dl>div.icon {
	text-align: center;
	padding: 8px;
	padding-left: 14px;
	padding-right: 14px;
	font-size: 2em;
}

.container-fluid.container-core>div.initial {
	text-align: center;
	padding: 8px;
	padding-left: 14px;
	padding-right: 14px;
	font-size: 3em;
	/*font-family: Copperplate;*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 900;
	margin-top: -15px;
	min-width: 1.4em;
}


.container-fluid.container-dl>div.body, .container-fluid.container-core>div.body {
	vertical-align: top;
	width: calc(100% - 100px);
	/*width: calc(100% - 80px);*/
  margin-left: 15px;
	/*margin-bottom: 20px;*/
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #c2c2c2;
	/*border-image: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%) 1 100%;*/
	padding-bottom: 20px;
}

.container-fluid.container-dl>div.body>h4,
.container-fluid.container-dl>div.body>h4>small,
.container-fluid.container-core>div.body>h4,
.container-fluid.container-core>div.body>h4>small {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid.container-dl>div.body>h4, .container-fluid.container-dl>div.body>h4>small {
	font-size: 1.1em;
}

.container-fluid.container-dl>div.body>h4>small {
	font-size: 0.8em;
}

a:last-of-type>.container-fluid.container-dl>div.body, .container-fluid.container-core:last-of-type>div.body {
	border-style: none;
	padding-bottom: 0;
}

.container-fluid.container-dl>div.body>p, .container-fluid.container-core>div.body>p {
	margin-bottom: 0;
}

/* END Downloads */

.container-fluid.container-events, .container-fluid.container-ease, .btn-question {
	box-shadow: 0 5px 0px rgba(0,0,0,0), 0 1px 20px rgba(0,0,0,0.12);
}

.container-fluid.container-events, .container-fluid.container-ease {
	background: white;
	margin-bottom: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.container-fluid.container-well {
	background: #f1f1f1;
	margin-bottom: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.container-fluid.container-events>.container-fluid.container-event,
.container-fluid.container-well>.container-fluid.container-news-well {
	padding: 15px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #c2c2c2;
  margin-left: -15px;
  margin-right: -15px;
}

.container-fluid.container-events>.container-fluid.container-event:first-of-type,
.container-fluid.container-well>.container-fluid.container-news-well:first-of-type {
	margin-top: -15px;
}

.container-fluid.container-events>.container-fluid.container-event:last-of-type,
.container-fluid.container-well>.container-fluid.container-news-well:last-of-type {
	border-style: none;
	margin-bottom: -15px;
}

.container-fluid.container-events>.container-fluid.container-event>h5,
.container-fluid.container-well>.container-fluid.container-news-well>h5 {
	margin-top: 0;
	font-weight: 100;
	margin-bottom: 6px;
}

.container-fluid.container-events>.container-fluid.container-event>p,
.container-fluid.container-well>.container-fluid.container-news-well>p {
	margin-bottom: 0;
	font-size: 0.8em;
}

.container-fluid.container-well>h3 {
	margin-bottom: 5px;
  margin-top: -3px;
}

.container-fluid.container-ease h4 {
	margin-bottom: 8px;
}

.container-fluid.container-ease>div:first-of-type>h4 {
	margin-top: 0;
}

.container-fluid.container-ease a {
	display: block;
}

.container-fluid.container-ease a span.icon {
	padding-right: 10px;
}

.container-fluid.container-sectionbox {
	background: white;
	padding: 15px;
	box-shadow: 0 5px 0px rgba(0,0,0,0), 0 1px 20px rgba(0,0,0,0.12);
	margin-bottom: 40px;
	/*height: 218px;*/
}

@media (min-width: 768px) and (max-width: 922px) {
	.container-fluid.container-sectionbox.container-sectionbox-fixedheight {
		height: 203px;
	}
}

@media (min-width: 922px) {
	.container-fluid.container-sectionbox.container-sectionbox-fixedheight {
		height: 218px;
	}
}

.container-sectionbox>img.img-responsive {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -15px;
	margin-bottom: 15px;
	max-width: initial;
  width: calc(100% + 30px);
}

.container-sectionbox>h4 {
	margin-bottom: 0;
}

section.section-fader {
	background-size: contain !important;
	background-position: right !important;
	padding-top: 80px;
	padding-bottom: 80px;
}

section.section-fader div.section-fader-text {
	border-style: solid;
  border-width: 0 1px 0 0;
  border-color: white;
	border-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%) 1 100%
}

section.section-fader.section-fader-white div.section-fader-text {
	border-image: linear-gradient(to bottom, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 25%,rgba(51,51,51,1) 75%,rgba(51,51,51,0) 100%) 1 100%
}


section.section-fader h1, section.section-fader p {
	text-align: right;
	color: white;
}

section.section-fader.section-fader-white h1, section.section-fader.section-fader-white p {
	text-align: right;
	color: #333;
}

section.section-masthead {
	height: 300px;
	background-size: cover;
}

section.section-masthead>div.container-fluid {
	position: relative;
	height: 100%;
}

section.section-masthead>div.container-fluid>div.row {
	position: absolute;
	bottom: 30px;
}

section.section-masthead>div.container-fluid>div.row h1 {
	color: #e4e4e4;
	margin: 0;
	font-size: 3.5em;
	line-height: 0.8em;
	background-color: rgba(43,51,137,1);
	padding: 10px 12px 8px 14px;
}

.container-timeline a {
	display: block;
}

.affix {
	position: fixed !important;
}

section.section-masthead>div.container-fluid>div.row h1 small {
	color: #e4e4e4;
}

@media (min-width: 768px) {
	img.float-right { width: 240px; height:auto; float: right; /*clear: left;*/ margin: 0 0 0 10px;}
	img.float-left { width: 240px; height:auto; float: left; /*clear: right;*/ margin: 0 10px 0 0;}
}

img.img-margin-bottom {
	margin-bottom: 30px;
}

img.icon {
	vertical-align: sub;
}

img.icon.icon-large {
	width: 15px;
    display: inline-block;
    padding-top: 7px;
}

ul.list-spaced {
	list-style: none;
	padding: 0;
}

ul.list-col-2.list-spaced>li, ul.list-spaced>li {
	padding-bottom: 30px;
}

button.btn-default.btn-block.btn-question {
	background-color: #0abab5;
	color: white;
	border-style: none;
	border-radius: 0;
	margin-bottom: 30px;
}

@media (min-width: 768px) {
	button.btn-default.btn-block.btn-question {
	max-width: 20em;
    margin-left: auto;
    margin-right: auto;
}
}

@media (min-width: 768px) {
form.form-navbar-search {
	margin-top: 20px;
}

form.form-navbar-search .btn {
	margin-left: -3px;
}

form.form-navbar-search input {
	max-width: 0px;
	padding-left: 0px;
	padding-right: 0px;
	-webkit-transition: max-width 0.5s ease-in-out, padding-left 0.5s ease-in-out, padding-right 0.5s ease-in-out; /* Safari */
  transition: max-width 0.5s ease-in-out, padding-left 0.5s ease-in-out, padding-right 0.5s ease-in-out;
}
}

form.form-navbar-search input.search-active {
	max-width: 180px;
	padding-left: 12px;
	padding-right: 12px;
	-webkit-transition: max-width 0.5s ease-in-out, padding-left 0.5s ease-in-out, padding-right 0.5s ease-in-out; /* Safari */
  transition: max-width 0.5s ease-in-out, padding-left 0.5s ease-in-out, padding-right 0.5s ease-in-out;
}

form.form-inline-search {
	margin-bottom: 30px;
}

form.form-inline-search h3 {
	margin-bottom: 0;
}

form.form-inline-search input, form.form-navbar-search input {
	border-radius: 0;
	border-style: none;
}

form.form-inline-search div.input-group-addon {
	border-style: none;
	padding: 0;
	margin: 0;
}

form.form-inline-search div.input-group-addon .btn, form.form-navbar-search .btn {
	border-style: none;
	border-radius: 0;
	font-family: FontAwesome;
	padding-top: 7px;
padding-bottom: 7px;
}

footer:first-of-type {
	padding-top: 30px;
	background-color: #2b3389;
}

footer:first-of-type img {
	max-width: 80px;
	margin-bottom: 10px;
}

footer:first-of-type p {
	color: white;
	font-size: 0.8em;
  margin-bottom: 15px;
}


footer:first-of-type h3 {
	padding-top: 5px;
	margin-bottom: 0;
	color: white;
}

footer:first-of-type ul {
	margin-bottom: 0;
  margin-bottom:20px;
  overflow:hidden;
	padding: 0;
}

/*
footer:first-of-type ul>li{
  float:left;
  display:inline;
	width:100%;
}
*/

@media (min-width: 768px) {
	footer:first-of-type ul {
	  max-width: 42em;
		list-style: none;
	}
	/*
	footer:first-of-type ul>li{
		width:33.333%;
	}
	*/
	ul.list-col-2, div.list-col-2 {
		column-count: 2;
		-webkit-column-count: 2;
	}
	ul.list-col-3 {
		column-count: 3;
		-webkit-column-count: 3;
	}
	ul.list-col-2, ul.list-col-3 {
		-webkit-column-gap:30px;
		column-gap:30px;
	}
	ul.list-col-2>li, ul.list-col-3>li{
		margin: 0;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid-column;
		/*display:table;*/
	}
	div.list-col-2>div {
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid-column;
		padding-bottom: 10px;
	}
	div.list-col-2>div>h3 {
		margin-bottom: 10px;
	}
	div.list-col-2>div>ul {
		margin-bottom: 0;
	}
}

footer:first-of-type ul>li>a{
	color: white;
	text-decoration: none;
	font-family: Copperplate;
	font-weight: 100;
}

footer:last-of-type {
	/*background-color: #232A73;*/
	background-color: #2b3389;
}

footer:last-of-type h4,
footer:last-of-type li a {
	color: white;
}

footer:last-of-type h4 {
	display: inline-block;
}

footer:last-of-type ul {
	display: inline-block;
	list-style: none;
	padding: 0;
}

footer:last-of-type li {
	display: inline-block;
}
