/* FONTS INITIALIZATION */
@font-face {
	font-family: 'Hind';
		src: 
		url('/fonts/Hind-Light.ttf') 
		format('opentype');
	font-weight: 100;}

@font-face {
	font-family: 'Hind';
		src: 
		url('/fonts/Hind-Light.ttf') 
		format('opentype');
	font-weight: 200;}

@font-face {
	font-family: 'Hind';
		src: 
		url('/fonts/Hind-Regular.ttf') 
		format('opentype');
	font-weight: 300;}

@font-face {
	font-family: 'Hind';
		src: 
		url('/fonts/Hind-Regular.ttf') 
		format('opentype');
	font-weight: 400;}

@font-face {
	font-family: 'Hind';
		src: 
		url('/fonts/Hind-Medium.ttf') 
		format('opentype');
	font-weight: 500;}

@font-face {
	font-family: 'Hind';
		src: 
		url('/fonts/Hind-Medium.ttf') 
		format('opentype');
	font-weight: 600;}

@font-face {
	font-family: 'Hind';
		src: 
		url('/fonts/Hind-Semibold.ttf') 
		format('opentype');
	font-weight: 700;}

@font-face {
	font-family: 'Hind';
		src: 
		url('/fonts/Hind-Bold.ttf') 
		format('opentype');
	font-weight: 800;}

@font-face {
	font-family: 'Hind';
		src: 
		url('/fonts/Hind-Bold.ttf') 
		format('opentype');
	font-weight: 900;}

@font-face {
	font-family: 'Montserrat';
		src: 
		url('/fonts/Montserrat-Thin.ttf') 
		format('opentype');
	font-weight: 100;}

@font-face {
	font-family: 'Montserrat';
		src: 
		url('/fonts/Montserrat-Light.ttf') 
		format('opentype');
	font-weight: 200;}

@font-face {
	font-family: 'Montserrat';
		src: 
		url('/fonts/Montserrat-Regular.ttf') 
		format('opentype');
	font-weight: 300;}

@font-face {
	font-family: 'Montserrat';
		src: 
		url('/fonts/Montserrat-Regular.ttf') 
		format('opentype');
	font-weight: 400;}

@font-face {
	font-family: 'Montserrat';
		src: 
		url('/fonts/Montserrat-Regular.ttf') 
		format('opentype');
	font-weight: 500;}

@font-face {
	font-family: 'Montserrat';
		src: 
		url('/fonts/Montserrat-Bold.ttf') 
		format('opentype');
	font-weight: 600;}

@font-face {
	font-family: 'Montserrat';
		src: 
		url('/fonts/Montserrat-Bold.ttf') 
		format('opentype');
	font-weight: 700;}

@font-face {
	font-family: 'Montserrat';
		src: 
		url('/fonts/Montserrat-Black.ttf') 
		format('opentype');
	font-weight: 800;}

@font-face {
	font-family: 'Montserrat';
		src: 
		url('/fonts/Montserrat-Black.ttf') 
		format('opentype');
	font-weight: 900;}

/* CSS */

/* Fonts */
h1, h2, h3, h4, h5, h6 {
	font-family: Montserrat;
}

p {
	font-family: Hind;
}

/* Navbar */

html, body {
	overflow-x: hidden;
	max-width: 100vw;
}

.navbar {
	position: absolute;
	width: 100%;
	z-index: 1030;
	border-radius: 0;
	border-width: 0;
	background-color: rgba(0,0,0,0);
	transition: background-color 0.2s;
}

.navbar.colorize {
	background-color: #275D79;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	transition: background-color 0.2s;
}

a.navbar-brand.navbar-brand,
a.navbar-brand.navbar-brand:link,
a.navbar-brand.navbar-brand:active,
a.navbar-brand.navbar-brand:focus,
a.navbar-brand.navbar-brand:hover,
a.navbar-brand.navbar-brand:visited {
	color: #fff;
	font-family: Hind;
}

.navbar-header {
	display: inline-block;
	float: left;
}

.navbar-menu {
	background-color: #275D79;
	position: fixed;
	width: 325px;
	top: 0;
	right: -325px;
	height: 100vh !important;
	overflow-y: auto;
	transition: all 0.5s;
	padding: 20px 35px;
}

.navbar-menu.active {
	right: 0px;
	transition: all 0.5s;
}

.navbar-menu>ul li, .navbar-menu>ul li>a {
	font-family: Hind;
	color: #fff;
}

.navbar-menu>ul li>a:link,
.navbar-menu>ul li>a:active,
.navbar-menu>ul li>a:focus,
.navbar-menu>ul li>a:hover,
.navbar-menu>ul li>a:visited  {
	color: #fff;
	text-decoration: none;
}

.navbar-menu>ul li>a:active,
.navbar-menu>ul li>a:focus,
.navbar-menu>ul li>a:hover {
	text-shadow: 0 0 5px #fff;
}

.navbar-menu>ul li>a {
	display: block;
	padding-right: 35px;
	margin-right: -35px;
}

.navbar-menu>ul>li>a {
	width: calc(100% + 70px);
	margin-left: -35px;
	padding-left: 35px;
}

.navbar-menu>ul>li>ul>li>a {
    margin-left: -75px;
    width: calc(100% + 110px);
    padding-left: 75px;
}

.navbar-menu>ul>li>ul>li>ul>li>a {
    margin-left: -115px;
    width: calc(100% + 150px);
    padding-left: 115px;
}

@media (max-width: 767px) {
/*@media (max-width: 768px) {*/
.navbar-menu {
	width: 100vw;
	right: -100vw;
	transition: all 0.5s;
}

.navbar-menu.active {
	right: 0px;
	transition: all 0.5s;
}
}

.navbar-toggle {
	display: inline-block;
	float: right;
	margin: 0;
	border-style: none;
	padding: 0;
}

.navbar-toggle:hover {
	background-color: transparent !important;
	border-style: none !important;
}

.navbar-toggle>a {
	padding: 7px 12px;
}

.navbar-toggle>a, .navbar-menu>a {
	font-family: FontAwesome !important;
	color: #fff;
	font-size: 25px;
	text-decoration: none !important;
	cursor: pointer;
	float: right;
}

.navbar-menu ul {
	list-style-type: none;
}

.navbar-menu>ul {
	padding-left: 0;
}

.navbar-menu ul li {
	font-size: 2em;
	color: #fff;
}

.navbar-menu ul li ul li{
	font-size: 0.7em;
}

/* Flexbox MAGIC! */

.list-flex{
	overflow: hidden; /* just clearing floats */
	padding: 0;
}
.list-flex>.list-flex-item {
	float: left;
}
.list-flex-item.list-flex-item-lg-3 {
	width: 25%; /* 4 items per row */
}

.list-flex-item.list-flex-item-lg-4 {
	width: 33.3333333%; /* 4 items per row */
}

@media (max-width: 767px) {
	.list-flex-item.list-flex-item-xs-12 {
		width: 100%; /* 4 items per row */
	}
}

.list-flex
{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@media (max-width: 768px) {
	.list-flex.list-flex-wide {
		margin-left: -15px;
		margin-right: -15px;
	}
}

.list-flex>.list-flex-item
{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

/* Flexbox content */
.panel-project {
	position: relative;
	width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
ul.list-flex>li:nth-child(3n+1) .panel-project {
	margin-right: 5px;
}

ul.list-flex>li:nth-child(3n+2) .panel-project {
	margin-left: 10px;
	margin-right: 10px;
}

ul.list-flex>li:nth-child(3n) .panel-project {
	margin-left: 5px;
}
}



.img-project {
	width: 100%;
	padding-bottom: 75%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: -10px;
    margin-right: -10px;
}

@media (max-width: 768px) {
	.panel-project a {
		bottom: 0;
		position: absolute
	}
}

@media (max-width: 767px) {
	.img-project {
		padding-bottom: 56.25%; /* 4 items per row */
	}
}

.panel-library {
	width: 100%;
}
.img-library {
	width: 80%;
	padding-bottom: 60%;
	margin: auto;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@media (max-width: 767px) {
	.img-library {
		width: 92%;
		padding-bottom: 69%;
	}
}

/* Multicolumn List MAGIC! */
ul.list-break {
	width: 100%;
	margin-bottom: 20px;
	overflow: hidden;
}
ul.list-break>li{
	text-align: center;
	line-height: 1.5em;
	float: left;
	display: inline;
}
ul.list-break.list-break-lg-6>li {
	width: 50%;
}
@media (max-width: 767px) {
	ul.list-break.list-break-xs-12>li {
		width: 100%;
	}
}

/* Button Tabs */
section.button-tabs>div.row>div {
	padding-right: 0;
	padding-left: 0;
}

section.button-tabs>div.row>div>a {
	border-style: none;
	border-radius: 0;
	color: #fff;
	font-family: Hind;
    padding-top: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
}

section.button-tabs>div.row>div:first-of-type>a {
	background-color: #F7A41A;
}

section.button-tabs>div.row>div:last-of-type>a {
	background-color: #FFEF38;
}

/* Frontpage */
/* Jumbotron */
section.jumbotron {
	margin-bottom: 0;
	background-color: gray;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@media (min-width: 768px) {
	section.jumbotron {
		height: 100vh;
	    max-height: calc(640px - 50px);
		padding-top: 10%;
		padding-bottom: 6%;
	}
}

@media (max-width: 768px) {
	section.jumbotron {
		height: 100vh;
		max-height: 640px;
		padding-top: 30%;
		padding-bottom: 30%;
	}
}

section.jumbotron>h1 {
	text-align: center;
    margin: auto;
    color: #fff;
}

@media (min-width: 992px) {
	section.jumbotron>h1 {
		max-width: 10.5em;
	    font-size: 6em;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	section.jumbotron>h1 {
		max-width: 10.5em;
	    font-size: 5em;
	}
}

@media (max-width: 768px) {
	section.jumbotron>h1 {
		max-width: 10.5em;
	    font-size: 4em;
	}
	section.jumbotron>h1>span.jumbotron-h1-adjuster {
	    font-size: 0.5em;
	}
}

section.jumbotron>p {
	padding-left: 15px;
    padding-right: 15px;
	max-width: 768px;
    margin: auto;
    color: #f5f5f5;
}

@media (max-width: 768px) {
	section.jumbotron>p {
		font-size: 1.25em;
	}
}

/* Introductory panels */
section.panel-wide {
	padding-top: 75px;
	padding-bottom: 85px;
	background-color: gray;
	background-image: url('images/filler.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

section.panel-wide.panel-wide-subpaneled {
	padding-bottom: 0;
}

section.panel-wide>h1, section.panel-wide>div.row>div>h1 {
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
	width: 90%;
    max-width: 768px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
    font-size: 4em;
    color: #fff;
    
    word-wrap: break-all;
    -webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

@media (max-width: 767px) {
	section.panel-wide>h1, section.panel-wide>div.row>div>h1  {
	    font-size: 2.75em;
	}
}

section.panel-wide>p, section.panel-wide>div.row>div>p  {
	font-size: 1.25em;
	width: 90%;
    max-width: 768px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
    color: #f5f5f5;
}

section.panel-wide>div.row>div>h4  {
	color: #f5f5f5;
	width: 90%;
    max-width: 768px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;

}

section.panel-wide>section.panel-wide-subpanel {
	padding-top: 60px;
}


section.panel-wide>section.panel-wide-subpanel>ul.list-flex {
	padding-left: 0;
	margin-bottom: 0;
}

section.panel-wide>section.panel-wide-subpanel>ul.list-flex>li.list-flex-item>a {
	font-family: Hind;
	font-size: 3em;	
    line-height: 1.1em;
	width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: orange;
	background-image: url('images/filler.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 15px;
	padding-right: 15px;
}

section.panel-wide>section.panel-wide-subpanel>ul.list-flex>li.list-flex-item>a,
section.panel-wide>section.panel-wide-subpanel>ul.list-flex>li.list-flex-item>a:link,
section.panel-wide>section.panel-wide-subpanel>ul.list-flex>li.list-flex-item>a:active,
section.panel-wide>section.panel-wide-subpanel>ul.list-flex>li.list-flex-item>a:focus,
section.panel-wide>section.panel-wide-subpanel>ul.list-flex>li.list-flex-item>a:hover,
section.panel-wide>section.panel-wide-subpanel>ul.list-flex>li.list-flex-item>a:visited {
	text-decoration: none;
	color: white;
}

/* LEARN MORE Button */
a.btn.btn-default.btn-learn {
    display: table;
    margin: auto;
    border-radius: 0;
    font-size: 2em;
    padding: 10px 25px;
    font-family: Montserrat;
    text-transform: uppercase;
}



.info p {
	color: #f5f5f5;
}

/* Dynamic Pages Template */
.page-content-dynamic {
	background-color: #f5f5f5;
}

.page-content-dynamic h1,
.page-content-dynamic h2,
.page-content-dynamic h3 {
	text-align: center;
}

/* Fluid Logo Container MAGIC! */

.list-fluid{
	text-align: center;
}
.list-fluid>.list-fluid-item {
	max-height: 85px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
}

/* Carousel Sizing */
div.carousel-default>div.carousel-inner>div.item {
	width: 100%;
	padding-bottom: 30%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Fading Carousel MAGIC! */
.carousel-fade .carousel-inner .item {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
	z-index: 2;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
	height: 100%;
}
.item:nth-child(1) {
	background: darkred;
}
.item:nth-child(2) {
	background: red;
}
.item:nth-child(3) {
	background: orange;
}

/* Row Limiter */
div.row.row-limit, .row-limit {
	max-width: 1024px;
	margin: auto;
}

div.row.row-limit.row-limit-flex {
	max-width: 1600px;
	margin: auto;
}

/* Footer */
footer {
	background-color: #275D79;
	padding-top: 50px;
	padding-bottom: 50px;
}

footer>ul {
	margin: 0;
}

footer ul {
	list-style-type: none;
}

footer>ul li,
footer>ul li>a,
footer>ul li>a:link,
footer>ul li>a:active,
footer>ul li>a:focus,
footer>ul li>a:hover,
footer>ul li>a:visited {
	font-family: Hind;
	color: white;
	text-decoration: none;
}

section.info {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

section.info>div.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

section.info>div.aligner>.aligner-item-text {
  width: calc(100% - 300px);
}

section.info>div.aligner>.aligner-item-text>ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
section.info>div.aligner>.aligner-item-text>ul>li {
	color: #fff;
  display: inline;
  font-family: Montserrat;
}

section.info>div.aligner>.aligner-item-text>ul>i.fa.fa-chevron-right {
	padding-left: 6px;
    padding-right: 3px;
    color: #f5f5f5;
}

section.info>div.aligner>.aligner-item-text>h1 {
	margin-top: 0;
	color: white;
}

section.info>div.aligner>.aligner-item-thumb.after {
  width: 300px;
}

section.info>div.aligner>.aligner-item-thumb.before {
  width: 300px;
}

section.info>div.aligner>.aligner-item-thumb>img {
  width: 100%;
}
