/* FONTS INITIALIZATION */
@font-face {
	font-family: 'Hind';
		src:
		url('/fonts/Hind-Light.ttf')
		format('opentype');
	font-weight: 100;}

@font-face {
	font-family: 'Hind';
		src:
		url('/fonts/Hind-Light.ttf')
		format('opentype');
	font-weight: 200;}

@font-face {
	font-family: 'Hind';
		src:
		url('/fonts/Hind-Regular.ttf')
		format('opentype');
	font-weight: 300;}

@font-face {
	font-family: 'Hind';
		src:
		url('/fonts/Hind-Regular.ttf')
		format('opentype');
	font-weight: 400;}

@font-face {
	font-family: 'Hind';
		src:
		url('/fonts/Hind-Medium.ttf')
		format('opentype');
	font-weight: 500;}

@font-face {
	font-family: 'Hind';
		src:
		url('/fonts/Hind-Medium.ttf')
		format('opentype');
	font-weight: 600;}

@font-face {
	font-family: 'Hind';
		src:
		url('/fonts/Hind-Semibold.ttf')
		format('opentype');
	font-weight: 700;}

@font-face {
	font-family: 'Hind';
		src:
		url('/fonts/Hind-Bold.ttf')
		format('opentype');
	font-weight: 800;}

@font-face {
	font-family: 'Hind';
		src:
		url('/fonts/Hind-Bold.ttf')
		format('opentype');
	font-weight: 900;}

@font-face {
	font-family: 'Montserrat';
		src:
		url('/fonts/Montserrat-Thin.ttf')
		format('opentype');
	font-weight: 100;}

@font-face {
	font-family: 'Montserrat';
		src:
		url('/fonts/Montserrat-Light.ttf')
		format('opentype');
	font-weight: 200;}

@font-face {
	font-family: 'Montserrat';
		src:
		url('/fonts/Montserrat-Regular.ttf')
		format('opentype');
	font-weight: 300;}

@font-face {
	font-family: 'Montserrat';
		src:
		url('/fonts/Montserrat-Regular.ttf')
		format('opentype');
	font-weight: 400;}

@font-face {
	font-family: 'Montserrat';
		src:
		url('/fonts/Montserrat-Regular.ttf')
		format('opentype');
	font-weight: 500;}

@font-face {
	font-family: 'Montserrat';
		src:
		url('/fonts/Montserrat-Bold.ttf')
		format('opentype');
	font-weight: 600;}

@font-face {
	font-family: 'Montserrat';
		src:
		url('/fonts/Montserrat-Bold.ttf')
		format('opentype');
	font-weight: 700;}

@font-face {
	font-family: 'Montserrat';
		src:
		url('/fonts/Montserrat-Black.ttf')
		format('opentype');
	font-weight: 800;}

@font-face {
	font-family: 'Montserrat';
		src:
		url('/fonts/Montserrat-Black.ttf')
		format('opentype');
	font-weight: 900;}

/* CSS */
