---
layout: internal
crumbs:
thumb:
title: Application
description: Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
---

<section>
<div class="row">
<div class="col-lg-12">
	<h1>Projects</h1>
	
	<section>
		<h2>Architectural</h2>
		<ul class="list-flex">
			<!--li--><!--photo url-->{% include item-project-head.html %}{{ site.baseurl }}/images/filler.jpg{% include item-mid.html %}
			Lorem ipsum dolor
			<!--title--><!--/li-->{% include item-foot.html %}

			<!--li--><!--photo url-->{% include item-project-head.html %}{{ site.baseurl }}/images/filler.jpg{% include item-mid.html %}
			Lorem ipsum dolor
			<!--title--><!--/li-->{% include item-foot.html %}

			<!--li--><!--photo url-->{% include item-project-head.html %}{{ site.baseurl }}/images/filler.jpg{% include item-mid.html %}
			Lorem ipsum dolor
			<!--title--><!--/li-->{% include item-foot.html %}

			<!-- other items -->
		</ul>
	</section>

	<section>
		<h2>Industrial</h2>
		<ul class="list-flex">
			<!--li--><!--photo url-->{% include item-project-head.html %}{{ site.baseurl }}/images/filler.jpg{% include item-mid.html %}
			Lorem ipsum dolor
			<!--title--><!--/li-->{% include item-foot.html %}

			<!--li--><!--photo url-->{% include item-project-head.html %}{{ site.baseurl }}/images/filler.jpg{% include item-mid.html %}
			Lorem ipsum dolor
			<!--title--><!--/li-->{% include item-foot.html %}

			<!--li--><!--photo url-->{% include item-project-head.html %}{{ site.baseurl }}/images/filler.jpg{% include item-mid.html %}
			Lorem ipsum dolor
			<!--title--><!--/li-->{% include item-foot.html %}

			<!-- other items -->
		</ul>
	</section>

</div>
</section>