---
layout: internal
masthead: /images/services-masthead.jpg
crumbs:
  - Qualitech
thumb: /images/filler-square.jpg
title: Application
description: Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

projects1_size: 3
projects1_photo:
  - /images/filler.jpg
  - /images/filler.jpg
  - /images/filler.jpg
projects1_title:
  - Lorem ipsum dolor sit amet
  - Lorem ipsum dolor sit amet
  - Lorem ipsum dolor sit amet

projects2_size: 3
projects2_photo:
  - /images/filler.jpg
  - /images/filler.jpg
  - /images/filler.jpg
projects2_title:
  - Lorem ipsum dolor sit amet
  - Lorem ipsum dolor sit amet
  - Lorem ipsum dolor sit amet
---

<section>
<div class="row">
<div class="col-lg-12">
	<h1>Projects</h1>
	
	<section>
		<h2>Architectural</h2>
		
		{% include carousel-prelim.html %}

		{% include carousel-head.html %}
		    {% for i in (1..page.projects1_size) %}
		      {% include carousel-mid1.html %}
		    {% endfor %}
		  {% include carousel-mid2.html %}
		    {% for i in (1..page.projects1_size) %}
		      {% include item-carousel-head.html %}{{ site.baseurl }}{{ page.projects1_photo[forloop.index0] }}{% include item-carousel-mid.html %}{{ page.projects1_title[forloop.index0] }}{% include item-carousel-foot.html %}
		    {% endfor %}
		{% include carousel-foot.html %}

	</section>

	<section>
		<h2>Industrial</h2>
		
		{% include carousel-head.html %}
		    {% for i in (1..page.projects2_size) %}
		      {% include carousel-mid1.html %}
		    {% endfor %}
		  {% include carousel-mid2.html %}
		    {% for i in (1..page.projects2_size) %}
		      {% include item-carousel-head.html %}{{ site.baseurl }}{{ page.projects2_photo[forloop.index0] }}{% include item-carousel-mid.html %}{{ page.projects2_title[forloop.index0] }}{% include item-carousel-foot.html %}
		    {% endfor %}
		{% include carousel-foot.html %}

	</section>

</div>
</section>