---
layout: main
---

<section>
<div class="container-fluid">
<div class="row">
<div class="col-lg-12 no-pad">
  <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active" id="carousel-item-1">
        <!--img src="{{ site.baseurl }}/images/carousel-1.jpg" alt="..."-->
        <div class="carousel-caption">
          Children's choir singing for anniversary
        </div>
      </div>
      <style>
        #carousel-item-1 {
          background: linear-gradient(to top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 100%),
            url('{{ site.baseurl }}/images/carousel-1.jpg') no-repeat;
          background-size: cover !important;
          background-position: right !important;
          height:480px;
        }
      </style>

      <div class="item" id="carousel-item-2">
        <!--img src="{{ site.baseurl }}/images/carousel-2.jpg" alt="..."-->
        <div class="carousel-caption">
          Graduating students of STEFTI
        </div>
      </div>
      <style>
        #carousel-item-2 {
          background: linear-gradient(to top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 100%),
            url('{{ site.baseurl }}/images/carousel-2.jpg') no-repeat;
          background-size: cover !important;
          background-position: right !important;
          height:480px;
        }
      </style>

      <div class="item" id="carousel-item-3">
        <!--img src="{{ site.baseurl }}/images/carousel-2.jpg" alt="..."-->
        <div class="carousel-caption">
          Students of STEFTI
        </div>
      </div>
      <style>
        #carousel-item-3 {
          background: linear-gradient(to top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 100%),
            url('{{ site.baseurl }}/images/carousel-3.jpg') no-repeat;
          background-size: cover !important;
          background-position: right !important;
          height:480px;
        }
      </style>

    </div>

    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>
</div>
</section>

<section class="bg-lg minheighted">
<div class="container-fluid container-limit">
<div class="row">
<div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
  <h3>News and Announcements</h3>
  {% include item-news.html %}
  {% include item-news.html %}
</div>
<div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
  <h3>Events</h3>
  <div class="container-fluid container-events">
    <div class="container-fluid container-event">
      <h5>21 Sep 2015</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </div>
    <div class="container-fluid container-event">
      <h5>21 Sep 2015</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </div>
    <div class="container-fluid container-event">
      <h5>21 Sep 2015</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </div>
  </div>
</div>
</div>
</div>
</section>

<!--section class="bg-lg"-->
<section class="bg-wh minheighted">
<div class="container-fluid container-limit">
<div class="row">
  <div class="col-lg-12">
    <h3>Studying at STEFTI</h3>
  </div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
  <a href="{{ site.baseurl }}/admissions/early-education">
  <div class="container-fluid container-sectionbox container-sectionbox-fixedheight">
    <img class="img-responsive" src="{{ site.baseurl }}/images/admissions-1.jpg"/>
    <h4>Early Education</h4>
  </div>
  </a>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
  <a href="{{ site.baseurl }}/admissions/grade-school">
  <div class="container-fluid container-sectionbox container-sectionbox-fixedheight">
    <img class="img-responsive" src="{{ site.baseurl }}/images/admissions-2.jpg"/>
    <h4>Grade School</h4>
  </div>
  </a>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
  <a href="{{ site.baseurl }}/admissions/high-school">
  <div class="container-fluid container-sectionbox container-sectionbox-fixedheight">
    <img class="img-responsive" src="{{ site.baseurl }}/images/admissions-3.jpg"/>
    <h4>High School</h4>
  </div>
  </a>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
  <a href="{{ site.baseurl }}/admissions/vocational-school">
  <div class="container-fluid container-sectionbox container-sectionbox-fixedheight">
    <img class="img-responsive" src="{{ site.baseurl }}/images/admissions-3.jpg"/>
    <h4>Vocational School</h4>
  </div>
  </a>
</div>


</div>
</div>
</section>

<section class="bg-lg" style="padding-top:0" id="fader-title">
  <div class="container-fluid container-limit">

    <div class="row">

            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
              <h1>Where heart and mind grow best</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <a href="{{ site.baseurl }}/about/history">History</a>
        <a href="{{ site.baseurl }}/about/mission-vision">Mission-Vision-Goals</a>
        <a href="{{ site.baseurl }}/about/philosophy">Philosophy</a>
        </div>

        </div>
        <style>
        #fader-title {
          background: linear-gradient(to right, rgba(228,228,228,0.75) 0%,rgba(228,228,228,0.75) 100%), url('{{ site.baseurl }}/images/fader-landing.jpg') no-repeat;
          background-size: cover !important;
          background-position: right !important;
        }

        @media (min-width: 768px) {
          #fader-title {
            background: linear-gradient(to right, rgba(228,228,228,1) 0%,rgba(228,228,228,1) 40%,rgba(228,228,228,0) 70%,rgba(228,228,228,0) 100%), url('{{ site.baseurl }}/images/fader-landing.jpg') no-repeat;
          }
        }
      </style>

</div>
</section>

<!--section class="section-fader">
<div class="container-fluid container-limit" id="fader-tagline">
<div class="row">
<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-6 col-xs-12 section-fader-text">
  <h1>Where heart and mind grow best</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  <a>History</a>
  <a>Mission-Vision-Goals</a>
  <a>Philosophy</a>
</div>
</div>
</div>
</section>

<style>
#fader-tagline {
  background: linear-gradient(to right, rgba(222,154,24,0.75) 0%,rgba(222,154,24,0.75) 100%), url('{{ site.baseurl }}/images/fader-landing.jpg') no-repeat;
  background-size: cover !important;
  background-position: right !important;
}

@media (min-width: 768px) {
  #fader-tagline {
    background: linear-gradient(to right, rgba(222,154,24,1) 0%,rgba(222,154,24,1) 50%,rgba(222,154,24,0) 75%,rgba(222,154,24,0) 100%), url('{{ site.baseurl }}/images/fader-landing.jpg') no-repeat;
    background-size: contain !important;
  }
}
</style-->
