---
layout: internal
masthead: /images/masthead/calibration.png
crumbs:
  - Qualitech
  - Quality Control Monitoring
thumb: /images/filler-square.jpg
title: Instrument Test &amp; Calibration
description: Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
addscript: <script src="/js/modal-cert.js"></script>

library1_size: 3
library1_photo:
  - /images/filler.jpg
  - /images/filler.jpg
  - /images/filler.jpg
library1_title:
  - International standard 1
  - International standard 2
  - International standard 3
library1_url:
  - 
  - 
  - 


library2_size: 3
library2_photo:
  - /images/filler.jpg
  - /images/filler.jpg
  - /images/filler.jpg
library2_title:
  - Calibration standard 1
  - Calibration standard 2
  - Calibration standard 3
library2_description:
  - Lorem ipsum dolor sit amet
  - Lorem ipsum dolor sit amet
  - Lorem ipsum dolor sit amet
library2_cert:
  - /images/filler.jpg
  - /images/filler.jpg
  - /images/filler.jpg
---


<section>
<div class="row row-limit">
<div class="col-lg-12">

	<section>

		<h5 class="pretitle">in accordance with</h5>
		<h1 class="pretitled">International Standards</h1>

		<ul class="list-flex">

			{% for i in (1..page.library1_size) %}
				<!--li--><!--photo url-->{% include item-library-head.html %}{{ site.baseurl }}{{ page.library1_photo[forloop.index0] }}{% include item-mid.html %}
				{{ page.library1_title[forloop.index0] }}{% include item-library1-mid.html %}{{ site.baseurl }}{{ page.library1_photo[forloop.index0] }}{% include item-library1-foot.html %}
			{% endfor %}

		</ul>
	</section>

	<section>
		<h5 class="pretitle">certified</h5>
		<h1 class="pretitled">Calibration Standards &amp; Verifiers</h1>
		
		<ul class="list-flex list-flex-wide">

			{% assign count2 = '' %}
			{% for i in (1..page.library2_size) %}
				{% assign indexfix = count2.size %}

				{% include item-project-head.html %}{{ site.baseurl }}{{ page.library2_photo[indexfix] }}{% include item-mid.html %}{{ page.library2_title[indexfix] }}{% include item-product-mid1.html %}{{ page.library2_description[indexfix] }}{% include item-library2-mid.html %}{{ site.baseurl }}{{ page.library2_cert[indexfix] }}{% include item-library2-foot.html %}

				{% capture temp %}{{ count2 }}*{% endcapture %}
				{% assign count2 = temp %}
			{% endfor %}

		</ul>
	</section>

</div>
</section>

<div class="modal fade" id="certModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <!--div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div-->
    </div>
  </div>
</div>