/* FONTS INITIALIZATION */
@font-face {
	font-family: 'Gotham';
		src: 
		url('/public/fonts/Gotham-Thin.otf') 
		format('opentype');
	font-weight: 100;}

@font-face {
	font-family: 'Gotham';
	src: 
		url('/public/fonts/Gotham-ThinIta.otf') 
		format('opentype');
	font-weight: 100;
	font-style: italic;}

@font-face {
	font-family: 'Gotham';
	src: 
		url('/public/fonts/Gotham-XLight.otf') 
		format('opentype');
	font-weight: 200;}

@font-face {
	font-family: 'Gotham';
	src: 
		url('/public/fonts/Gotham-XLightIta.otf') 
		format('opentype');
	font-weight: 200;
	font-style: italic;}

@font-face {
	font-family: 'Gotham';
	src: 
		url('/public/fonts/Gotham-Light.otf') 
		format('opentype');
	font-weight: 300;}

@font-face {
	font-family: 'Gotham';
	src: 
		url('/public/fonts/Gotham-LightIta.otf') 
		format('opentype');
	font-weight: 300;
	font-style: italic;}

@font-face {
	font-family: 'Gotham';
	src: 
		url('/public/fonts/Gotham-Book.otf') 
		format('opentype');
	font-weight: 400;}

@font-face {
	font-family: 'Gotham';
	src: 
		url('/public/fonts/Gotham-BookIta.otf') 
		format('opentype');
	font-weight: 400;
	font-style: italic;}

@font-face {
	font-family: 'Gotham';
	src: 
		url('/public/fonts/Gotham-Medium.otf') 
		format('opentype');
	font-weight: 500;}

@font-face {
	font-family: 'Gotham';
	src: 
		url('/public/fonts/Gotham-MediumIta.otf') 
		format('opentype');
	font-weight: 500;
	font-style: italic;}

@font-face {
	font-family: 'Gotham';
	src: 
		url('/public/fonts/Gotham-Bold.otf') 
		format('opentype');
	font-weight: 600;}

@font-face {
	font-family: 'Gotham';
	src: 
		url('/public/fonts/Gotham-BoldIta.otf') 
		format('opentype');
	font-weight: 600;
	font-style: italic;}

@font-face {
	font-family: 'Gotham';
	src: 
		url('/public/fonts/Gotham-Ultra.otf') 
		format('opentype');
	font-weight: 700;}

@font-face {
	font-family: 'Gotham';
	src: 
		url('/public/fonts/Gotham-UltraIta.otf') 
		format('opentype');
	font-weight: 700;
	font-style: italic;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-Hairline.otf') 
		format('opentype');
	font-weight: 100;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-HairlineIta.otf') 
		format('opentype');
	font-weight: 100;
	font-style: italic;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-XThin.otf') 
		format('opentype');
	font-weight: 200;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-XThinIta.otf') 
		format('opentype');
	font-weight: 200;
	font-style: italic;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-Thin.otf') 
		format('opentype');
	font-weight: 300;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-ThinIta.otf') 
		format('opentype');
	font-weight: 300;
	font-style: italic;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-Light.otf') 
		format('opentype');
	font-weight: 400;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-LightIta.otf') 
		format('opentype');
	font-weight: 400;
	font-style: italic;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-Book.otf') 
		format('opentype');
	font-weight: 500;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-BookIta.otf') 
		format('opentype');
	font-weight: 500;
	font-style: italic;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-Medium.otf') 
		format('opentype');
	font-weight: 600;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-MediumIta.otf') 
		format('opentype');
	font-weight: 600;
	font-style: italic;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-Semibold.otf') 
		format('opentype');
	font-weight: 700;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-SemiboldIta.otf') 
		format('opentype');
	font-weight: 700;
	font-style: italic;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-Bold.otf') 
		format('opentype');
	font-weight: 800;}

@font-face {
	font-family: 'ArcherPro';
	src: 
		url('/public/fonts/ArcherPro-BoldIta.otf') 
		format('opentype');
	font-weight: 800;
	font-style: italic;}

/* GENERAL CLASSES */
body {
	min-height: 100vh;
	font-family: Gotham;
}

p {
	font-family: ArcherPro;
}

div.row.max-800 {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div.row.max-1200 {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

div.row.full-vw {
	max-width:initial;
	margin-left: 0;
	margin-right: 0;
}

div.full-vw {
	padding-left: 0;
	padding-right: 0;
}

section.full-vh {
	min-height: 100vh;
}

@media (min-width: 768px) {
	section.full-vh.full-vh-calc {
		margin-top: -51px;
		padding-top: 51px;
		min-height: 100vh;
	}
}

@media (max-width: 768px) {
	section.full-vh.full-vh-calc {
		min-height: calc(100vh - 51px);
	}
}

/* HOME */

body#home {
	background-image: url('/public/images/home-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
}

@media (max-width: 768px) {
	body#home {
		padding-top:50px;
	}
}

/* Splash */
.navbar {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	section.full-vh.full-vh-calc {
		margin-top: -75px;
		padding-top: 51px;
		min-height: 100vh;
	}
	div.navbar.navbar-custom-top {
		background-color: transparent;
		border:none;
	}
	div.navbar.navbar-custom-top>div.container {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

@media (max-width: 768px) {
	div.navbar.navbar-custom-top {
		background-color: #336799;
		border-color:#013567;
	}

	.navbar-default a.navbar-brand, .navbar-default a.navbar-brand:link, .navbar-default a.navbar-brand:visited {
		color:#ffde00;
		-webkit-transition: color 300ms ease-out;
		-moz-transition: color 300ms ease-out;
		-o-transition: color 300ms ease-out;
		transition: color 300ms ease-out;
	}

	.navbar-default a.navbar-brand:hover, .navbar-default a.navbar-brand:active, .navbar-default a.navbar-brand:focus {
		color:white;
		-webkit-transition: color 300ms ease-out;
		-moz-transition: color 300ms ease-out;
		-o-transition: color 300ms ease-out;
		transition: color 300ms ease-out;
	}

	.navbar-default button.navbar-toggle, .navbar-default button.navbar-toggle:link, .navbar-default button.navbar-toggle:visited {
		background-color:#ffde00;
		border:none;
		-webkit-transition: background-color 300ms ease-out;
		-moz-transition: background-color 300ms ease-out;
		-o-transition: background-color 300ms ease-out;
		transition: background-color 300ms ease-out;
	}

	.navbar-default button.navbar-toggle:hover, .navbar-default button.navbar-toggle:active, .navbar-default button.navbar-toggle:focus {
		background-color:white;
		-webkit-transition: background-color 300ms ease-out;
		-moz-transition: background-color 300ms ease-out;
		-o-transition: background-color 300ms ease-out;
		transition: background-color 300ms ease-out;
	}

	.navbar-default button.navbar-toggle > span.icon-bar {
		background-color:#336799;
	}
}

@media (max-width: 768px) {
	section.full-vh.full-vh-calc {
		min-height: calc(100vh - 51px);
	}
}

section#splash {
	background-image: url('/public/images/splash-bg.jpg');
	background-size: cover;
}

section.white-bg {
	background-color: rgba(255,255,255,0.1);
}

/* SANDBOX */

@media (max-width: 768px) {
	.navbar-custom-top {
		top: 0;
		border-width: 0 0 1px;
		border-radius: 0;
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1030;
	}
}

@media (min-width: 768px) {
	.navbar-custom-top {
		border-radius: 0;
		z-index: 1000;
		border-width: 0 0 1px;
	}
}

div.splash-row {
	position: relative;
}

h1.splash-text-main {
	color:white;
	text-transform: uppercase;
	font-weight:600;
	text-align: center;
}

h1.splash-text-main span.splash-text-slash {
	font-size: 0.6em;
	font-weight:700;
	position:relative;
	top:-0.2em;
}

h1.splash-text-main > span.splash-text-slash.first {
	color:#336799;
}

h1.splash-text-main > span.splash-text-slash.last {
	color:#ffde00;
}

@media (min-width: 768px) {
	div.splash-row {
		top:calc(50vh - 310px);
	}
	h1.splash-text-main {
		font-size: 6em;
	}
}

@media (max-width: 768px) {
	div.splash-row {
		top:calc(50vh - 210px);
	}
	h1.splash-text-main {
		font-size: 4em;
	}
	h1.splash-text-main span.splash-text-resize {
		font-size: 0.75em;
	}
}