---
layout: subheadered
drill: admissions
subpage: early-education
breadcrumbs-bg: wh
breadcrumbs:
  - Home
  - Admissions
  - Early Education
---

<!--section id="fader-title" class="section-fader section-fader-white">
<div class="container-fluid">
<div class="row">
<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-6 col-xs-12 section-fader-text">
  <h1>Early Education</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
</div>
</div>
</div>
</section-->



<section class="bg-wh">
  <div class="container-fluid container-limit">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Early Education</h1>
        <img class="img-responsive visible-xs" src="{{ site.baseurl }}/images/masthead/admissions-1.jpg">
      </div>
    </div>
    <div class="row" id="fader-title">


            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat nulla facilisis at
          vero eros et accumsan et iusto odio dignissim qui blandit praesent
          luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil
          imperdiet doming id quod mazim placerat facer possim assum. Typi non
          habent claritatem insitam; est usus legentis in iis qui facit eorum
          claritatem. Investigationes demonstraverunt lectores legere me lius
          quod ii legunt saepius.</p>
        <p>Claritas est etiam processus dynamicus, qui
          sequitur mutationem consuetudium lectorum. Mirum est notare quam
          littera gothica, quam nunc putamus parum claram, anteposuerit
          litterarum formas humanitatis per seacula quarta decima et quinta
          decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant
          sollemnes in futurum.</p>

        </div>

        </div>
        <style>
        #fader-title {
          background-size: cover !important;
          background-position: right !important;
          background-color: white;
        }


        @media (min-width: 768px) {
          #fader-title {
            background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,0) 70%,rgba(255,255,255,0) 100%), url('{{ site.baseurl }}/images/masthead/admissions-1.jpg') no-repeat;
          }
        }
      </style>

</div>
</section>

<section class="bg-wh">
          <div class="container-fluid container-limit">

      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">

        <h3>People</h3>

        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <a href="{{ site.baseurl }}/about/faculty/#tab-faculty">
            <div class="container-fluid container-sectionbox">
              <img class="img-responsive" src="{{ site.baseurl }}/images/about-6.jpg"/>
              <h4>Faculty</h4>
            </div>
          </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <a href="{{ site.baseurl }}/about/faculty/#tab-staff">
            <div class="container-fluid container-sectionbox">
              <img class="img-responsive" src="{{ site.baseurl }}/images/about-7.jpg"/>
              <h4>Staff</h4>
            </div>
          </a>
        </div>

        </div>

        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Downloads</h3>
        <a>
          <div class="container-fluid container-dl">
            <img src="{{ site.baseurl }}/images/pdf-icon.png" class="icon icon-large">
            <div class="body"><h4>Application<br/><small>1.20 mb</small></h4></div>
          </div>
        </a>
        <a>
          <div class="container-fluid container-dl">
            <img src="{{ site.baseurl }}/images/pdf-icon.png" class="icon icon-large">
            <div class="body"><h4>Fees<br/><small>800 kb</small></h4></div>
          </div>
        </a>
        <a>
          <div class="container-fluid container-dl">
            <img src="{{ site.baseurl }}/images/pdf-icon.png" class="icon icon-large">
            <div class="body"><h4>Funding &amp; Scholarships<br/><small>2.50 mb</small></h4></div>
          </div>
        </a>

      </div></div>

      <div class="row">
        <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">
          {% include btn-question.html %}
        </div>
      </div>

      </div>

      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">

        <!--section id="fader-title" class="container-fluid">
        </section-->


        <!--h3>Recent News</h3>
        <div class="container-fluid container-news">
          <div class="date"><span class="day">21</span><br/><span class="month">Sep</span></div>
          <div class="body"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p></div>
        </div>
        <div class="container-fluid container-news">
          <div class="date"><span class="day">21</span><br/><span class="month">Sep</span></div>
          <div class="body"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p></div>
        </div-->


        <div class="container-fluid container-well">
          <h3>Recent News</h3>
          {% include item-news-well.html %}
          {% include item-news-well.html %}
        </div>

        <div class="container-fluid container-well">
          {% include inline-search.html %}
        </div>

      </div>
    </div>

  </div>
</section>

<!--section class="bg-lg">
  <div class="container-fluid container-limit">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">

        <h3>Downloads</h3>
        <div class="container-fluid container-dl">
          <div class="icon">&#xf1c1;</div>
          <div class="body"><h4><a>Application</a><br/><small>100.00 mb</small></h4></div>
        </div>
        <div class="container-fluid container-dl">
          <div class="icon">&#xf1c1;</div>
          <div class="body"><h4><a>Application</a><br/><small>100.00 mb</small></h4></div>
        </div>

      </div>
    </div>

  </div>
</section-->
