---
layout: admissions
---

<section class="section-masthead" style="background-image:url('{{ site.baseurl }}/images/carousel-2.jpg');">
  <div class="container-fluid container-limit">
  <div class="row">
  <div class="col-lg-12">
  <h1>Admissions<br/><small>at STEFTI</small></h1>
  </div>
  </div>
  </div>
</section>

<section class="bg-dg section-text">
  <div class="container-fluid container-limit">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h3>Why STEFTI?</h3>
        <img class="float-right" src="{{ site.baseurl }}/images/filler.jpg" alt="illustration">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <img class="float-left" src="{{ site.baseurl }}/images/filler.jpg" alt="illustration">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>


</div>

</div></div>
</section>


<section class="bg-lg">
<div class="container-fluid container-limit">
<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <div class="row">
  <div class="col-lg-12">
    <h3>Studying at STEFTI</h3>
  </div>
</div>
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="container-fluid container-sectionbox">
    <img class="img-responsive" src="{{ site.baseurl }}/images/admissions-1.jpg"/>
    <h4>Early Education</h4>
  </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="container-fluid container-sectionbox">
    <img class="img-responsive" src="{{ site.baseurl }}/images/admissions-2.jpg"/>
    <h4>Grade School</h4>
  </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="container-fluid container-sectionbox">
    <img class="img-responsive" src="{{ site.baseurl }}/images/admissions-3.jpg"/>
    <h4>High School</h4>
  </div>
</div>
</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <div class="container-fluid container-ease">
    <div>
      <h4>Early Education Information</h4>
      <a><span class="icon">&#xf1c1;</span>Downloadable Item 1</a>
      <a><span class="icon">&#xf1c1;</span>Downloadable Item 2</a>
      <a><span class="icon">&#xf1c1;</span>Downloadable Item 3</a>
    </div>
    <div>
      <h4>Grade School Information</h4>
      <a><span class="icon">&#xf1c1;</span>Downloadable Item 1</a>
      <a><span class="icon">&#xf1c1;</span>Downloadable Item 2</a>
      <a><span class="icon">&#xf1c1;</span>Downloadable Item 3</a>
    </div>
    <div>
      <h4>High School Information</h4>
      <a><span class="icon">&#xf1c1;</span>Downloadable Item 1</a>
      <a><span class="icon">&#xf1c1;</span>Downloadable Item 2</a>
      <a><span class="icon">&#xf1c1;</span>Downloadable Item 3</a>
    </div>
  </div>

  <div class="container-fluid container-ease">
    <div>
      <h4>About STEFTI</h4>
      <a>The School</a>
      <a>History</a>
      <a>Mission-Vision-Goals</a>
      <a>The Campus</a>
    </div>
  </div>

  {% include btn-question.html %}

</div>

</div>
</div>
</section>

<section class="bg-dg">
  <div class="container-fluid container-limit">
  <div class="row">

<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
  <h3>Recent News</h3>
  {% include item-news.html %}
  {% include item-news.html %}
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  {% include inline-search.html %}
</div>

</div>
</div>
</section>
