{% for item in page.breadcrumbs %}
  {% if forloop.first %}
  <section class="bg-{% if page.breadcrumbs-bg %}{{ page.breadcrumbs-bg }}{% else %}dg{% endif %} {% if page.subpage == 'faculty' %}breadcrumbs-faculty{% endif %} section-padding-reset">
    <div class="container-fluid container-limit">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <ol class="custom-breadcrumbs">
  {% endif %}

      <li>
        {% if item == 'Home' and forloop.last != true %}
          <a href="{{ site.baseurl }}/">
        {% elsif item == 'Admissions' and forloop.last != true %}
          <a href="{{ site.baseurl }}/admissions/">
        {% elsif item == 'About' and forloop.last != true %}
          <a href="{{ site.baseurl }}/about/">
        {% elsif item == 'News' and forloop.last != true %}
          <a href="{{ site.baseurl }}/news/">
        {% endif %}
          {{ item }}
        {% if forloop.last != true %}
          </a>
        {% endif %}


        {% if forloop.last != true %}
          <span>&nbsp;&#xf054;&nbsp;</span>
        {% endif %}

      </li>

  {% if forloop.last %}
    </ol></div></div></div></section>
  {% endif %}
{% endfor %}
