{% for item in page.breadcrumbs %}
  {% if forloop.first %}
    <ol class="custom-breadcrumbs custom-breadcrumbs-inner">
  {% endif %}

      <li>
        {% if item == 'Home' and forloop.last != true %}
          <a href="{{ site.baseurl }}/">
        {% elsif item == 'Admissions' and forloop.last != true %}
          <a href="{{ site.baseurl }}/admissions/">
        {% elsif item == 'About' and forloop.last != true %}
          <a href="{{ site.baseurl }}/about/">
        {% endif %}
          {{ item }}
        {% if forloop.last != true %}
          </a>
        {% endif %}


        {% if forloop.last != true %}
          <span>&nbsp;&#xf054;&nbsp;</span>
        {% endif %}

      </li>

  {% if forloop.last %}
    </ol>
  {% endif %}
{% endfor %}
