<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-migrate-1.2.1.min.js"></script>
<!--script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script-->

<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/slick/slick.min.js"></script>

{% if page.subpage == 'faculty' %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.slider-for').slick({
      slidesToShow: 1,
      //slidesToScroll: 1,
      //arrows: false,
      //variableWidth: true,
      fade: true,
      centerMode: true,
      swipeToSlide: true,
      asNavFor: '.slider-nav'
    //  autoplay: true,
  //autoplaySpeed: 5000
    });

    $('.slider-nav').slick({
      asNavFor: '.slider-for',
      focusOnSelect: true,
      variableWidth: true,
      infinite: true,
      slidesToShow: 11,
      centerMode: true,
      arrows: false
    });

/*
    $('.carousel-slick-1').slick({
     slidesToShow: 1,
     slidesToScroll: 1,
     arrows: false,
     fade: true,
     asNavFor: '.carousel-slick-2'
    });
    $('.carousel-slick-2').slick({
     slidesToShow: 3,
     slidesToScroll: 1,
     asNavFor: '.carousel-slick-1',
     dots: true,
     centerMode: true,
     focusOnSelect: true
    });
*/
  });

/*
  $('.slider-for').slick({
   slidesToShow: 1,
   slidesToScroll: 1,
   arrows: false,
   fade: true,
   asNavFor: '.slider-nav'
 });
 $('.slider-nav').slick({
   slidesToShow: 3,
   slidesToScroll: 1,
   asNavFor: '.slider-for',
   dots: true,
   centerMode: true,
   focusOnSelect: true
 });
*/
$(document).ready(function(){
  var hash = window.location.hash;
  for (index9 = 0; index9 < faculty_array.length; index9++) {
    //alert('#tab-'+faculty_array[index9]);
    if ('#tab-'+faculty_array[index9] == hash) {
      document.getElementById(faculty_array[index9]).click();
    //  alert(faculty_array[index9]+' clicked.');
    }
  }
});
</script>
{% endif %}

<script>

/*$(document).click(function(event) {
  if(!$(event.target).closest('#menucontainer').length) {
      if($('#menucontainer').is(":visible")) {
          $('#menucontainer').hide()
      }
  }
})
*/

  $('html').click(function() {
    $('a.custom-header-toggle').removeClass('focus');
  });

  $('a.custom-header-toggle').click(function(event){
    event.stopPropagation();
    //alert('omg');
    if ($(this).hasClass('focus')) {
      $(this).removeClass('focus');
    }
    else {
      $(this).addClass('focus');
    }
  });
</script>
