<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-migrate-1.2.1.min.js"></script>
<!--script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script-->

<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/slick/slick.min.js"></script>

{% if page.subpage == 'faculty' %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.slider-for').slick({
      slidesToShow: 1,
      //slidesToScroll: 1,
      //arrows: false,
      //variableWidth: true,
      fade: true,
      centerMode: true,
      swipeToSlide: true,
      asNavFor: '.slider-nav'
    //  autoplay: true,
  //autoplaySpeed: 5000
    });

    $('.slider-nav').slick({
      asNavFor: '.slider-for',
      focusOnSelect: true,
      variableWidth: true,
      infinite: true,
      slidesToShow: 11,
      centerMode: true,
      arrows: false
    });

  });

$(document).ready(function(){
  var hash = window.location.hash;
  for (index9 = 0; index9 < faculty_array.length; index9++) {
    //alert('#tab-'+faculty_array[index9]);
    if ('#tab-'+faculty_array[index9] == hash) {
      document.getElementById(faculty_array[index9]).click();
    //  alert(faculty_array[index9]+' clicked.');
    }
  }
});
</script>
{% endif %}

{% if page.subpage == 'philosophy' %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.slider-for').slick({
      slidesToShow: 1,
      //slidesToScroll: 1,
      //arrows: false,
      //variableWidth: true,
      //fade: true,
      centerMode: true,
      swipeToSlide: true,
      asNavFor: '.slider-nav',
      infinite: true,
    //  autoplay: true,
    speed: 250,
  autoplaySpeed: 5000
    });

    $('.slider-nav').slick({
      asNavFor: '.slider-for',
      focusOnSelect: true,
      variableWidth: true,
      slidesToShow: 10,
      arrows: false
    });

  });

</script>
{% endif %}



<script>

  $('html').click(function() {
    $('a.custom-header-toggle').removeClass('focus');
  });

  $('a.custom-header-toggle').click(function(event){
    event.stopPropagation();
    //alert('omg');
    if ($(this).hasClass('focus')) {
      $(this).removeClass('focus');
    }
    else {
      $(this).addClass('focus');
    }
  });

  $('#dropdown-admissions>a:nth-of-type(2)').click(function(event){
    event.stopPropagation();
    //alert('omg1');

    if ($(this).hasClass('focus')) {
      $(this).removeClass('focus');
    }
    else {
      $(this).addClass('focus');
    }

  });

  $('#dropdown-about>a:nth-of-type(2)').click(function(event){
    event.stopPropagation();
    //alert('omg2');

    if ($(this).hasClass('focus')) {
      $(this).removeClass('focus');
    }
    else {
      $(this).addClass('focus');
    }

  });
</script>

<script>

/* NAVIGATION HEADER*/

var didScroll = false;


//var content = document.getElementsByClassName('page-content')[0];
//var content_bcr = content.getBoundingClientRect();
var navbar = document.getElementsByClassName('custom-header')[0];
var toggle = document.getElementsByClassName('custom-header-toggle')[0];

{% if page.title == 'News' %}
var affix = document.querySelector('nav.container-timeline>div');
{% endif %}

window.onscroll = doOnScroll;

var position = $(window).scrollTop(); // should start at 0

function doOnScroll() {
  var scroll = $(window).scrollTop();
  if ($(window).scrollTop() <= 90) {
    //alert('less than 90');
    $(navbar).removeClass('custom-header-hide');
    {% if page.title == 'News' %}
      $(affix).removeClass('container-timeline-pull');
    {% endif %}
  }
  else {
    if (scroll > position) {
      //if (Math.abs(scroll-position) > 20) {
        if (!$(toggle).hasClass('focus')) {
          //alert('more than 90, more than 30 scroll, downward');
          $(navbar).addClass('custom-header-hide');
          {% if page.title == 'News' %}
            $(affix).addClass('container-timeline-pull');
          {% endif %}
        }
      //}
    }
    else {
      //alert('more than 90, upward');
      $(navbar).removeClass('custom-header-hide');
      {% if page.title == 'News' %}
        $(affix).removeClass('container-timeline-pull');
      {% endif %}
    }
    position = scroll;
  }
}

/*
function doOnScroll() {
    didScroll = true;
    jumbotron_bcr = jumbotron.getBoundingClientRect();
    //navbar_bcr = navbar.getBoundingClientRect();
    if((jumbotron_bcr.bottom-(navbar_bcr.bottom-navbar_bcr.top)) <= 0) {
      if (!(hasClass(navbar,'colorize'))) {
        navbar.classList.add('colorize');
      }
    }
    else {
      if ((hasClass(navbar,'colorize')) && (jumbotron.getBoundingClientRect().top == 0)) {
        navbar.classList.remove('colorize');
      }
    }
}
*/

setInterval(function() {
    if(didScroll) {
        didScroll = false;
    }
}, 100);
 </script>
