<footer>
<div class="container container-fluid">
  <div class="row">
    <div class="col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 col-sm-5 col-sm-push-7 col-xs-4 col-xs-push-8" style="text-align:right">
    <!--div class="col-lg-4 col-md-4 col-sm-5 col-xs-12"-->

      <p class="hidden-xs">
        Brgy. 91, Abucay, Tacloban City<br/>
        Leyte, 6500 Philippines<br/>
        (+6353) 325-3464 | (+63) 918-964-6164<br/>
        <a href="mailto:stefti2001@gmail.com">stefti2001@gmail.com</a><br/>
        <a target="_blank" href="https://www.facebook.com/STEFTI2001"><i class="fa fa-facebook-official"></i></a>
      </p>
      <img class="img-responsive" src="{{ site.baseurl }}/images/logo-nopad.png"/>
    </div>
    <div class="col-lg-8 col-lg-pull-4 col-md-8 col-md-pull-4 col-sm-7 col-sm-pull-5 col-xs-8 col-xs-pull-4">
    <!--div class="col-lg-8 col-md-8 col-sm-7 col-xs-12"-->
      <h3>Quick Links</h3>
      {% include sitemap.html %}
    </div>
  </div>
</div>
</footer>

<footer>
<div class="container container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h4>&copy; STEFTI 2015</h4>
      <ul>
        {% include sitemap-sidepages.html %}
      </ul>
    </div>
  </div>
</div>
</footer>
