<footer>
<div class="container container-fluid">
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-4">
      <img class="img-responsive" src="{{ site.baseurl }}/images/logo-min.png"/>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
      <h3>Quick Links</h3>
      {% include sitemap.html %}
    </div>
  </div>
</div>
</footer>

<footer>
<div class="container container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h4>&copy; STEFTI 2015</h4>
      <ul>
        <li><a>Contact Us</a></li>
        <li><a>About This Site</a></li>
        <li><a>Privacy Policy</a></li>
        <li><a>Cookie Statement</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>
