<header class="navbar navbar-default navbar-fixed-top navbar-drill">
  <div class="container">
    <h3 class="visible-xs">About</h3>
    <ul>
      {% include sitemap-about.html %}
    </ul>
  </div>
</header>

<!--script>
var subheader_list = document.getElementsByClassName("navbar-drill")[0].getElementsByTagName("li");
for (index = 0; index < subheader_list.length; index++) {
    subheader_list[index].className = subheader_list[index].className + " hidden-xs";
    // subheader_list[index].id = "subheader-" + subheader_list[index].getAttribute("name");
}
</script-->
