<header class="custom-header">
  <div class="custom-header-content">
    <div class="custom-header-brand">
      <a href="{{ site.baseurl }}/">
        <image src="{{ site.baseurl }}/images/logo-min.png">
        <div>
          <h1 class="visible-xs visible-sm">STEFTI</h1>
          <h1 class="hidden-xs hidden-sm">St. Therese</h1>
          <h3 class="hidden-xs hidden-sm">Educational Foundation of Tacloban</h3>
        </div>
      </a>
    </div>
    <div class="custom-header-toggle visible-xs">
      <a>
        <div></div>
        <div></div>
        <div></div>
      </a>
    </div>
    <div class="custom-header-items{% if page.drill %} custom-header-items-drill{% endif %}">
      <ul>
        <li id="dropdown-admissions">
          <a href="{{ site.baseurl }}/admissions/">Admissions <span>&#xf054;</span></a>
          <ul>
            {% include sitemap-admissions.html %}
          </ul>
        </li>
        <li id="dropdown-about">
          <a href="{{ site.baseurl }}/about/">About <span>&#xf054;</span></a>
          <ul>
            {% include sitemap-about.html %}
          </ul>
        </li>
        <li id="nav-news">
          <a href="{{ site.baseurl }}/news">News</a>
        </li>
      </ul>


    {% if page.drill %}
    <div class="custom-header-drill hidden-xs">
      <ul>
      {% if page.drill == 'admissions' %}
        {% include sitemap-admissions.html %}
      {% elsif page.drill == 'about' %}
        {% include sitemap-about.html %}
      {% endif %}
      </ul>
    </div>
    {% endif %}
    </div>

  </div>
</header>

<script>

</script>
