<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!--link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="{{ site.baseurl }}/images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ site.baseurl }}/images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff"-->

	<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/images/favicon.ico">

	<title>{% if page.title %}{{ page.title}}{{' | '}}{{site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/carousel-fade.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/brew.css">
	{% include css-fonts.html %}

	<!--script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
		<div class="rg-image-wrapper">
			{{if itemsCount > 1}}
				<div class="rg-image-nav">
					<a href="#" class="rg-image-nav-prev">Previous Image</a>
					<a href="#" class="rg-image-nav-next">Next Image</a>
				</div>
			{{/if}}
			<div class="rg-image"></div>
			<div class="rg-loading"></div>
			<div class="rg-caption-wrapper">
				<div class="rg-caption" style="display:none;">
					<p></p>
				</div>
			</div>
		</div>
	</script--!>

	<!--style>
	.rg-image-wrapper{
		position:relative;
		padding:20px 30px;
		background:transparent url(../images/black.png) repeat top left;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		min-height:20px;
	}

	.rg-image{
		position:relative;
		text-align:center;
		line-height:0px;
	}

	.rg-image img{
		max-height:100%;
		max-width:100%;
	}

	.rg-image-nav a{
		position:absolute;
		top:0px;
		left:0px;
		background:#000 url(../images/nav.png) no-repeat -20% 50%;
		width:28px;
		height:100%;
		text-indent:-9000px;
		cursor:pointer;
		opacity:0.3;
		outline:none;
		-moz-border-radius: 10px 0px 0px 10px;
		-webkit-border-radius: 10px 0px 0px 10px;
		border-radius: 10px 0px 0px 10px;
	}

	.rg-image-nav a.rg-image-nav-next{
		right:0px;
		left:auto;
		background-position:115% 50%;
		-moz-border-radius: 0px 10px 10px 0px;
		-webkit-border-radius: 0px 10px 10px 0px;
		border-radius: 0px 10px 10px 0px;
	}

	.rg-image-nav a:hover{
		opacity:0.8;
	}

	.rg-caption {
		text-align:center;
		margin-top:15px;
		position:relative;
	}
	.rg-caption p{
		font-size:11px;
		letter-spacing:2px;
		font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
		line-height:16px;
		padding:0 15px;
		text-transform:uppercase;
	}

	.rg-view{
	height:30px;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(../images/views.png) no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;
	}
	.rg-view a:hover{
		opacity:1.0;
	}
	.rg-view a.rg-view-full{
		background-position:0px 0px;
	}
	.rg-view a.rg-view-selected{
		background-color:#6f6f6f;
		border-color:#6f6f6f;
	}
	.rg-view a.rg-view-thumbs{
		background-position:0px -16px;
	}

	.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}
	</style--!>

</head>
