<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/images/logo-min.png"/>
        <div>
        <span>St. Therese</span><br/>
        <span>Educational Foundation of Tacloban</span>
        </div>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Admissions <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/admissions/">Why STEFTI</a></li>
            <li><a href="{{ site.baseurl }}/admissions/early-education">Early Education</a></li>
            <li><a href="{{ site.baseurl }}/admissions/grade-school">Grade School</a></li>
            <li><a href="{{ site.baseurl }}/admissions/high-school">High School</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/about/">The School</a></li>
            <li><a href="{{ site.baseurl }}/about/history">History</a></li>
            <li><a href="{{ site.baseurl }}/about/mission-vision">Mission-Vision</a></li>
            <li><a href="{{ site.baseurl }}/about/philosophy">Philosophy</a></li>
            <li><a href="{{ site.baseurl }}/about/hymn-logo">Hymn and Logo</a></li>
            <li><a href="{{ site.baseurl }}/about/campus">The Campus</a></li>
          </ul>
        </li>
        <li><a href="#">News</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Search</a>
          <ul class="dropdown-menu">
            <li><a href="#">Insert Search Bar Here</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</header>
