<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{% if page.title %}{{ page.title}}{{' | '}}{{site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/icons/apple-touch-icon.png?v=NmEMM2vkv0">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/icons/favicon-32x32.png?v=NmEMM2vkv0">
	<link rel="icon" type="image/png" sizes="194x194" href="{{ site.baseurl }}/icons/favicon-194x194.png?v=NmEMM2vkv0">
	<link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/icons/android-chrome-192x192.png?v=NmEMM2vkv0">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/icons/favicon-16x16.png?v=NmEMM2vkv0">
	<link rel="manifest" href="{{ site.baseurl }}/icons/manifest.json?v=NmEMM2vkv0">
	<link rel="mask-icon" href="{{ site.baseurl }}/icons/safari-pinned-tab.svg?v=NmEMM2vkv0" color="#2f9e51">
	<link rel="shortcut icon" href="{{ site.baseurl }}/icons/favicon.ico?v=NmEMM2vkv0">
	<meta name="apple-mobile-web-app-title" content="TBC4K">
	<meta name="application-name" content="TBC4K">
	<meta name="msapplication-TileColor" content="#00a300">
	<meta name="msapplication-TileImage" content="{{ site.baseurl }}/icons/mstile-144x144.png?v=NmEMM2vkv0">
	<meta name="msapplication-config" content="{{ site.baseurl }}/icons/browserconfig.xml?v=NmEMM2vkv0">
	<meta name="theme-color" content="#2f9e51">

	<!-- OPEN GRAPH METADATA -->
  <meta property="og:title" content="{% if page.title and page.title != "Home" %}{{ page.title }} | {% endif %}{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.baseurl }}" />
  <meta property="og:image" content="http://" /> <!-- DON'T FORGET! -->
  <meta property="og:description" content="" />
  <meta property="og:determiner" content="" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{ site.title }}" />

	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">

	<link rel="stylesheet" href="{{ site.baseurl }}/css/shared-footer.css">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	{% include css-fonts.html %}

	<link rel="stylesheet" href="{{ site.baseurl }}/css/lean.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
	
</head>
