<header class="custom-header">
  <div class="custom-header-content">
    <div class="custom-header-brand">
      <a href="{{ site.baseurl }}/">
        <image src="{{ site.baseurl }}/images/logo.png">
        <div>
          <h1>STEFTI</h1>
          <h3>St. Therese Educational</h3>
          <h3>Foundation of Tacloban, Inc.</h3>
        </div>
      </a>
    </div>
    <!--div class="custom-header-toggle visible-xs visible-sm"-->
      <a class="custom-header-toggle visible-xs visible-sm">
        <div></div>
        <div></div>
        <div></div>
      </a>

    <!--/div-->
    <div class="custom-header-items{% if page.drill %} custom-header-items-drill{% endif %}{% if page.focus %} custom-header-items-focus{% endif %}">
      <ul>
        <li id="dropdown-admissions" class="dropdown">
          <a href="{{ site.baseurl }}/admissions/">Admissions <span>&#xf0d7;</span></a>
          <ul>
            {% include sitemap-admissions.html %}
          </ul>
        </li>
        <li id="dropdown-about" class="dropdown">
          <a href="{{ site.baseurl }}/about/">About <span>&#xf0d7;</span></a>
          <ul>
            {% include sitemap-about.html %}
          </ul>
        </li>
        <li id="nav-news">
          <a href="{{ site.baseurl }}/news">News</a>
        </li>
      </ul>


    {% if page.drill %}
    <div class="custom-header-drill hidden-xs">
      <ul>
      {% if page.drill == 'admissions' %}
        {% include sitemap-admissions.html %}
      {% elsif page.drill == 'about' %}
        {% include sitemap-about.html %}
      {% endif %}
      </ul>
    </div>
    {% endif %}
    </div>

  </div>
</header>

<script>

</script>
