<a class="container-fluid container-news" href="{{ site.baseurl }}/news/article/">
  <div class="date">
    <span class="day">21</span><br/><span class="month">Sep</span>
  </div>
  <div class="body">
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
      iriure dolor in hendrerit in vulputate velit esse molestie consequat...
      <span>&raquo;</span>
    </p>
  </div>
</a>
