<!--div class="container-fluid container-news container-news-full">
  <div class="date"><span class="day">21</span><br/><span class="month">Sep</span></div>
  <div class="body">
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat.
      <a class="toggle-read-more">Read more...</a>
    </p>

    <span class="container-news-full-more" style="display:none">
      <img class="img-responsive" src="{{ site.baseurl }}/images/filler.jpg">
      <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel
        eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
        vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
        iusto odio dignissim qui blandit praesent luptatum zzril delenit augue
        duis dolore te feugait nulla facilisi.</p>
      <p>
        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
        doming id quod mazim placerat facer possim assum. Typi non habent claritatem
        insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes
        demonstraverunt lectores legere me lius quod ii legunt saepius.
        <a class="toggle-show-less">Show less...</a>
      </p>
    </span>
  </div>
</div-->

<a class="container-fluid container-news container-news-titled" href="{{ site.baseurl }}/news/article/">
  <div class="date">
    <span class="day">21</span><br/><span class="month">Sep</span>
  </div>
  <div class="body">
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
      iriure dolor in hendrerit in vulputate velit esse molestie consequat...
      <span>&raquo;</span>
    </p>
  </div>
</a>
