<li name="history"><a href="{{ site.baseurl }}/about/history">History</a></li>
<li name="mission-vision" class="lined-left"><a href="{{ site.baseurl }}/about/mission-vision">Mission-Vision</a></li>
<li name="philosophy" class="lined-left"><a href="{{ site.baseurl }}/about/philosophy">Philosophy</a></li>
<li name="hymn-logo"><a href="{{ site.baseurl }}/about/hymn-logo">Logo and Hymn</a></li>
<li name="facilities" class="lined-left"><a href="{{ site.baseurl }}/about/facilities">Facilities</a></li>
<li name="faculty" class="lined-left"><a href="{{ site.baseurl }}/about/faculty">Faculty</a></li>
