<li name="history"><a href="{{ site.baseurl }}/about/history">History</a></li>
<li name="mission-vision" class="lined-left"><a href="{{ site.baseurl }}/about/mission-vision">Mission-Vision-<br class="show-on-drill"/>Goals</a></li>
<li name="philosophy" class="lined-left"><a href="{{ site.baseurl }}/about/philosophy">Philosophy</a></li>
<li name="logo-hymn" class="lined-left"><a href="{{ site.baseurl }}/about/logo-hymn">Logo and<br class="show-on-drill"/> Hymn</a></li>
<li name="our-campus" class="lined-left"><a href="{{ site.baseurl }}/about/our-campus">Our<br class="show-on-drill"/> Campus</a></li>
<li name="faculty" class="lined-left"><a href="{{ site.baseurl }}/about/faculty">Faculty</a></li>
