<!--li name="why-stefti"><a href="{{ site.baseurl }}/admissions/why-stefti">Why STEFTI?</a></li-->
<li name="why-stefti"><a href="{{ site.baseurl }}/admissions/why-stefti">Why<br class="show-on-drill"/> STEFTI</a></li>
<li name="early-education" class="lined-left"><a href="{{ site.baseurl }}/admissions/early-education">Early<br class="show-on-drill"/> Education</a></li>
<li name="grade-school" class="lined-left"><a href="{{ site.baseurl }}/admissions/grade-school">Grade<br class="show-on-drill"/> School</a></li>
<li name="high-school" class="lined-left"><a href="{{ site.baseurl }}/admissions/high-school">High<br class="show-on-drill"/> School</a></li>
<li name="vocational-school" class="lined-left"><a href="{{ site.baseurl }}/admissions/vocational-school">Vocational<br class="show-on-drill"/> School</a></li>
