<!--li name="why-stefti"><a href="{{ site.baseurl }}/admissions/why-stefti">Why STEFTI?</a></li-->
<li name="why-stefti"><a href="{{ site.baseurl }}/admissions/why-stefti">Why STEFTI</a></li>
<li name="early-education" class="lined-left"><a href="{{ site.baseurl }}/admissions/early-education">Early Education</a></li>
<li name="grade-school" class="lined-left"><a href="{{ site.baseurl }}/admissions/grade-school">Grade School</a></li>
<li name="high-school" class="lined-left"><a href="{{ site.baseurl }}/admissions/high-school">High School</a></li>
<li name="vocational-school" class="lined-left"><a href="{{ site.baseurl }}/admissions/vocational-school">Vocational School</a></li>
