<ul>
<li><a href="{{ site.baseurl }}">Home</a></li>
<li>Coatings
<ul>
<li><a href="{{ site.baseurl }}/coatings/instruments">Inspection Instruments</a>
<ul>
<li><a href="{{ site.baseurl }}/coatings/instruments/owners">Owners &amp; Contractors</a></li>
<li><a href="{{ site.baseurl }}/coatings/instruments/galvanizers">Galvanizers &amp; Platers</a></li>
<li><a href="{{ site.baseurl }}/coatings/instrument/manufacturers">Manufacturers</a></li>
</ul>
</li>
<li><a href="{{ site.baseurl }}/coatings/calibration>">Calibration &amp; Services</a></li>
<li><a href="{{ site.baseurl }}/coatings/inspection">Coating Inspection</a></li>
</ul>
</li>
<li><a href="{{ site.baseurl }}">Application</a></li>
</ul>