<ul>
<li><a href="{{ site.baseurl }}/">Home</a></li>
<li>Coatings
<ul>
<li><a href="{{ site.baseurl }}/coatings/instruments">Inspection Instruments</a>
<ul>
<li><a href="{{ site.baseurl }}/coatings/instruments/owners">Owners &amp; Contractors</a></li>
<li><a href="{{ site.baseurl }}/coatings/instruments/galvanizers">Galvanizers &amp; Powder Coaters</a></li>
<li><a href="{{ site.baseurl }}/coatings/instruments/manufacturing">Manufacturing</a></li>
</ul>
</li>
<li><a href="{{ site.baseurl }}/coatings/calibration">Instrument Test &amp; Calibration</a></li>
<li><a href="{{ site.baseurl }}/coatings/inspection">Coating Inspection</a></li>
</ul>
</li>
<li><a href="{{ site.baseurl }}/application">Application</a></li>
</ul>