---
layout: internal
crumbs:
thumb:
title: Calibration &amp; Services
description: Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

library1_size: 3
library1_photo:
  - /images/filler.jpg
  - /images/filler.jpg
  - /images/filler.jpg
library1_title:
  - Lorem ipsum dolor sit amet
  - Lorem ipsum dolor sit amet
  - Lorem ipsum dolor sit amet
---


<section>
<div class="row">
<div class="col-lg-12">
	<h1>Library</h1>
	<h3>Calibration Standards &amp; Verifiers</h3>

	<section>
		<ul class="list-flex">

			{% for i in (1..page.library1_size) %}
				<!--li--><!--photo url-->{% include item-library-head.html %}{{ site.baseurl }}{{ page.library1_photo[forloop.index0] }}{% include item-mid.html %}
				{{ page.library1_title[forloop.index0] }}
				<!--title--><!--/li-->{% include item-foot.html %}
			{% endfor %}

		</ul>
	</section>

</div>
</section> 