---
title: About STEFTI
layout: subheadered
drill: about
breadcrumbs-bg: wh
breadcrumbs:
  - Home
  - About
---



{% include section-masthead.html %}

<!--section class="bg-dg section-text">
  <div class="container-fluid container-limit">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h3>The School</h3>
        <img class="float-right" src="{{ site.baseurl }}/images/filler.jpg" alt="illustration">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <img class="float-left" src="{{ site.baseurl }}/images/filler.jpg" alt="illustration">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>


</div>

</div></div>
</section-->


<section class="bg-lg">
<div class="container-fluid container-limit">
<div class="row">

  <div class="col-lg-12">
    <h3>Get To Know STEFTI</h3>
  </div>
</div>
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <a href="{{ site.baseurl }}/about/history">
  <div class="container-fluid container-sectionbox">
    <img class="img-responsive" src="{{ site.baseurl }}/images/admissions-1.jpg"/>
    <h4>History</h4>
  </div>
  </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <a href="{{ site.baseurl }}/about/mission-vision">
  <div class="container-fluid container-sectionbox">
    <img class="img-responsive" src="{{ site.baseurl }}/images/admissions-2.jpg"/>
    <h4>Mission-Vision</h4>
  </div>
  </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <a href="{{ site.baseurl }}/about/philosophy">
  <div class="container-fluid container-sectionbox">
    <img class="img-responsive" src="{{ site.baseurl }}/images/admissions-3.jpg"/>
    <h4>Philosophy</h4>
  </div>
  </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <a href="{{ site.baseurl }}/about/logo-hymn">
  <div class="container-fluid container-sectionbox">
    <img class="img-responsive" src="{{ site.baseurl }}/images/admissions-2.jpg"/>
    <h4>Logo and Hymn</h4>
  </div>
  </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <a href="{{ site.baseurl }}/about/our-campus">
  <div class="container-fluid container-sectionbox">
    <img class="img-responsive" src="{{ site.baseurl }}/images/admissions-3.jpg"/>
    <h4>Our Campus</h4>
  </div>
  </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <a href="{{ site.baseurl }}/about/faculty">
  <div class="container-fluid container-sectionbox">
    <img class="img-responsive" src="{{ site.baseurl }}/images/admissions-3.jpg"/>
    <h4>Faculty</h4>
  </div>
  </a>
</div>

</div>
</div>
</section>

<section class="bg-dg topgray">
  <div class="container-fluid container-limit">
  <div class="row">

<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
  <h3>Recent News</h3>
  {% include item-news.html %}
  {% include item-news.html %}
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  {% include inline-search.html %}
</div>

</div>
</div>
</section>
