---
layout: internal

tab1: clients
tab2: instruments
---

{% include tabs.html %}

<section id="{{ page.tab1 }}">
<div class="row row-limit">
<div class="col-lg-12">
	<h1>{{ page.tab1 | capitalize }}</h1>
	
		
			{% assign count1 = '' %}
			{% assign count1_2 = '' %}
			{% for i in (1..page.clients1_size) %}
				{% for j in (1..page.clients1_sizes[forloop.index0]) %}
					{% assign indexfix = count1.size %}

					{% if j == 1 %}
						<section>
						<div class="row"><div class="col-lg-12">
							<h3>
							{{ page.clients1_categories[count1_2.size] }}
							</h3>
						</div></div>
						<div class="list-fluid">
					{% endif %}

					<!--li--><!--photo url-->{% include item-fluid-head.html %}{{ site.baseurl }}{{ page.clients1_photo[indexfix] }}{% include item-fluid-mid.html %}
					{{ page.clients1_title[indexfix] }}
					<!--title--><!--/li-->{% include item-fluid-foot.html %}

					{% capture temp %}{{ count1 }}*{% endcapture %}
					{% assign count1 = temp %}
				{% endfor %}
				{% capture temp %}{{ count1_2 }}*{% endcapture %}
				{% assign count1_2 = temp %}
				</div></section>
			{% endfor %}
		
	
</div>
</section>

<section id="{{ page.tab2 }}">
<div class="row row-limit">
<div class="col-lg-12">
	<h1>{{ page.tab2 | capitalize }}</h1>

		<ul class="list-flex list-flex-wide">

			{% assign count2 = '' %}
			{% for i in (1..page.products1_size) %}
				{% assign indexfix = count2.size %}

				<!--li--><!--photo url-->{% include item-project-head.html %}{{ site.baseurl }}{{ page.products1_photo[indexfix] }}{% include item-mid.html %}
				{{ page.products1_categories[indexfix] }}
				<!--title-->{% include item-product-mid1.html %}
				{{ page.products1_description[indexfix] }}
				{% include item-product-mid2.html %}{{ page.products1_url[indexfix] }}
				<!--/li-->{% include item-product-foot.html %}

				{% capture temp %}{{ count2 }}*{% endcapture %}
				{% assign count2 = temp %}
			{% endfor %}

		</ul>

</div>
</section>