---
headerclass: colorize 
---

<!DOCTYPE html>
<html>

  {% include head.html %}

    <body style="padding-top:50px">

    {% include header.html %}

    <section class="page-content">

    <section class="info">
    <!--div class="row row-limit"><div class="col-lg-12">
   	  {{ page.crumbs }}
   	</div></div-->
   	
   	<div class="aligner">
      <div class="aligner-item-thumb before visible-xs">
        <img src='{{ site.baseurl }}{{ page.thumb }}'>
      </div>
      <div class="aligner-item-text">
        <ul>
        {% for i in page.crumbs %}
        <li>{{ i }}</li>
        {% endfor %}
        </ul>
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
      </div>
      <div class="aligner-item-thumb after hidden-xs">
        <img src='{{ site.baseurl }}{{ page.thumb }}'>
      </div>
    </div>

        <!--div class="row row-limit">
      <div class="col-lg-6 col-lg-push-6 col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
        <img src='{{ site.baseurl }}{{ page.thumb }}'>
      </div>
      <div class="col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-12">
          <h1>{{ page.title }}</h1>
          <p>{{ page.description }}</p>
        </div>
  </div-->

    </section>



    <section class="page-content-dynamic">
      {{ content }}
  	</section>

    </section>

    
    {% include footer.html %}

    {% include foot.html %}
    {% include js-header.html %}
{% include js-scroll.html %}

    </body>
</html>