---
layout: main
---
<section class="bg-dg section-text">
  <div class="container-fluid container-limit">
    <div class="row">

      <div class="col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-9 col-sm-push-3 col-xs-12">

        <h3>{{ page.title }}</h3>

        {{ content }}
      </div>

      <div class="col-lg-3 col-lg-pull-9 col-md-3 col-md-pull-9 col-sm-3 col-sm-pull-9 col-xs-12">
        <ul>
          {% include sitemap-sidepages.html %}
        </ul>
        <div class="">
          <h3>Give Feedback</h3>
          
        </div>
      </div>

      <script>

      </script>

    </div>
  </div>
</section>
